[2019-12-23 10:25] yegor256 opened #1 "skeleton"

[2019-12-23 10:26] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2019-12-23 10:27] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21091-568433768)

[2019-12-23 10:28] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21091-568433768) (spent 14s)

[code]

[2019-12-23 11:34] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2019-12-23 11:35] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21091-568451224)

[2019-12-23 11:49] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21091-568451224) (took me 14min)

[2019-12-23 11:52] #1 closed

[2020-01-23 15:56] Sammers21 opened #17 "Add blocking wrapper over Storage"

[2020-01-24 08:23] #17 closed

[2020-01-24 09:09] g4s8 opened #19 "Abstract key interface"
Use abstract key interface instead of `String` which is used as Unix path now.
Related: https://github.com/artipie/docker-adapter/pull/33 https://github.com/artipie/docker-adapter/pull/34

[2020-01-24 11:59] #19 closed

[2020-01-24 12:02] g4s8 commented on #19
@rultor release, tag=`0.6.0`

[2020-01-24 12:04] Sammers21 opened #21 "ByteArray should be exposed to public"
It is useful for adapters

[2020-01-24 12:04] rultor commented on #19
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21242-578103623)

[2020-01-24 12:22] rultor commented on #19
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21242-578103623) (took me 17min)

[2020-01-24 12:26] #21 closed

[2020-01-24 13:38] Sammers21 opened #23 "RxJava Storage wrapper"
All of the adapters use old, reactive storage API. To make easy to migrate to the newest version of asto we need a reactive wrapper.

[2020-01-24 15:32] #23 closed

[2020-01-27 10:15] g4s8 opened #25 "Key default decorator"
Add default abstract decorator for `Key` interface to simplify adding new decorators.
https://github.com/artipie/docker-adapter/pull/35

[2020-01-27 10:19] 0crat commented on #25
Job `gh:artipie/asto#25` already assigned to @g4s8, can't assign to @g4s8

[2020-01-27 10:19] 0crat commented on #25
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-27 10:19] 0crat commented on #25
The job [#25](https://github.com/artipie/asto/issues/25) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d51541c3-da0f-440f-b20a-26fbc158a24a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2020-01-27 10:20] 0crat commented on #25
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-27 10:20] 0crat commented on #25
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-27 11:20] g4s8 commented on #25
@rultor release, tag=`0.9.1`

[2020-01-27 11:22] rultor commented on #25
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21253-578703385)

[2020-01-27 11:26] g4s8 commented on #25
Fixed in #26

[2020-01-27 11:26] #25 closed

[2020-01-27 11:44] rultor commented on #25
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21253-578703385) (took me 21min)

[2020-01-27 11:59] 0crat commented on #25
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-01-27 11:59] 0crat commented on #25
The job [#25](https://github.com/artipie/asto/issues/25) is now out of scope

[2020-01-27 12:05] 0crat commented on #25
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-28 11:42] Sammers21 opened #27 "Transactions support"
Asto should support transactions in order to guarantee atomic updates of several keys.

[2020-01-28 11:42] 0crat commented on #27
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-28 12:02] 0crat commented on #27
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @sammers21[/z](https://www.0crat.com/u/sammers21) are: `DEV`

[2020-01-30 09:08] #27 closed

[2020-01-30 09:12] Sammers21 opened #29 "FileStorage#save causes IllegalFormatConversionException when info logging is enabled"
In case when INFO log level is enabled, any FileStorage#save operation fails with the following stack trace:

[code]

[2020-01-30 09:13] 0crat commented on #29
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-30 09:19] #29 closed

[2020-01-30 09:25] 0crat commented on #27
Job `gh:artipie/asto#27` is not assigned, can't get performer

[2020-01-30 09:26] 0crat commented on #27
This job is not in scope

[2020-01-30 10:16] 0crat commented on #29
Job `gh:artipie/asto#29` is not assigned, can't get performer

[2020-01-30 10:16] 0crat commented on #29
This job is not in scope

[2020-01-30 11:17] Sammers21 opened #31 "BlockingStorage#save is broken"
BlockingStorage#save does not work because of underlying CompletableFuture<Void>  which emits null:
[code]

[2020-01-30 11:17] 0crat commented on #31
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-30 11:18] 0crat commented on #31
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @sammers21[/z](https://www.0crat.com/u/sammers21) are: `DEV`

[2020-01-30 12:11] #31 closed

[2020-01-30 12:32] 0crat commented on #31
This job is not in scope

[2020-01-30 12:32] 0crat commented on #31
Job `gh:artipie/asto#31` is not assigned, can't get performer

[2020-01-31 11:43] Nimmaster opened #35 "Key.From should use List instead of Iterable"
`com.artipie.asto.Key.From` [stores key parts](https://github.com/artipie/asto/blob/master/src/main/java/com/artipie/asto/Key.java#L80) as `Iterable`

Classes `Iterable` (and `Collection` in constructor args) do not guarantee iteration order. We rely on particular insertion order when joining the iterable into a string.

[2020-02-04 09:10] Sammers21 opened #37 "Improve FileStorage implementation"
Not it works by reading all the bytes from a file and keeping them in memory. It is a simplistic approach. The approach can be improved by keeping only a constant amount of bytes in memory

[2020-02-04 09:10] 0crat commented on #37
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-04 09:15] g4s8 commented on #37
@0crat assign @Sammers21

[2020-02-04 10:07] 0crat commented on #37
@g4s8 The job [#37](https://github.com/artipie/asto/issues/37) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f975128f-6995-496c-829d-cf36a9d0c96f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-02-04 10:21] 0crat commented on #37
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 10:22] 0crat commented on #37
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 10:22] 0crat commented on #37
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-06 11:33] Sammers21 opened #39 "Update Vert.x version to 3.9.0 once it released"
The delay can be removed after the update:

https://github.com/artipie/asto/blob/537c03ff3f11244fa4ef2d12a4657db635fab531/src/main/java/com/artipie/asto/fs/RxFile.java#L108

A ticket with a bug fix:
https://github.com/vert-x3/vertx-rx/issues/218

[2020-02-07 13:03] g4s8 opened #41 "Use buffered publisher flow"
Use `ByteBuffer` or custom buffer class instead of `Byte` in `Storage` interface.

[2020-02-07 13:03] g4s8 commented on #41
@0crat assign @Sammers21

[2020-02-07 13:14] 0crat commented on #41
@g4s8 The job [#41](https://github.com/artipie/asto/issues/41) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/470937a9-4efa-4b20-9540-ccdc93243138); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-02-07 13:23] 0crat commented on #41
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-07 13:26] 0crat commented on #41
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-09 10:40] 0crat commented on #37
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-10 07:41] #37 closed

[2020-02-10 08:34] #41 closed

[2020-02-10 09:04] 0crat commented on #37
Order was finished: +30 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-10 10:11] 0crat commented on #41
Order was finished: +30 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-10 12:54] g4s8 opened #43 "Remeaining class affects buffer state on read"
`Remaining` class affects underlying `ByteBuffer` on read operations.

[2020-02-10 12:54] g4s8 commented on #43
@0crat assign me

[2020-02-10 13:19] 0crat commented on #43
@g4s8 The job [#43](https://github.com/artipie/asto/issues/43) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5653f027-d1c6-4cfd-82c6-742f3e32f11a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-02-10 13:19] 0crat commented on #43
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 13:40] 0crat commented on #43
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 14:13] 0crat commented on #43
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 14:34] g4s8 opened #45 "RxFile test sometimes fails"
The test for `RxFile` sometimes fails:
[code]
see https://github.com/artipie/asto/pull/44/checks?check_run_id=436298450

It's not stable bug, reproduced just once, but it looks critical if `RxFile` may not work correctly time to time.

[2020-02-10 14:35] g4s8 commented on #45
@0crat assign @Sammers21

[2020-02-10 15:09] 0crat commented on #45
@g4s8 The job [#45](https://github.com/artipie/asto/issues/45) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2e47fc20-53b5-4a48-88df-b60cfbb4fb7e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-02-10 15:12] 0crat commented on #45
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 15:14] 0crat commented on #45
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-11 09:18] Sammers21 commented on #43
@g4s8 , `Remaining` should affect underlying `ByteBuffer`, since it is a read operation. Please, revert the changes in  #44 .

[2020-02-11 09:26] olegmoz opened #46 "FileStorage.save() method should overwrite existing data"
Now FileStorage does not allow overwriting existing value with `java.nio.file.FileAlreadyExistsException`.

[2020-02-11 09:26] 0crat commented on #46
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-11 09:26] 0crat commented on #46
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-11 10:43] g4s8 opened #47 "Remaining buffer without restoring position"
Implement `Remaining` without `ByteBuffer` position restoring.

[2020-02-11 10:44] g4s8 commented on #43
@Sammers21 it will be fixed in scope of #47

[2020-02-11 10:44] #43 closed

[2020-02-11 10:57] g4s8 commented on #47
@0crat assign me

[2020-02-11 11:17] olegmoz commented on #46
Bug was found in version 0.11.1, it happens that it cannot be reproduced in 0.13.0. Added unit test to verify that this important property of storage is supported in future releases.

[2020-02-11 11:18] 0crat commented on #43
Job was finished in 21 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-11 11:35] 0crat commented on #47
@g4s8 The job [#47](https://github.com/artipie/asto/issues/47) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3b448cb4-c648-4ba1-a8ae-81d2eff6230d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-02-11 11:35] 0crat commented on #43
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-11 12:20] 0crat commented on #47
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-11 12:32] 0crat commented on #47
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-11 12:32] 0crat commented on #47
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-12 08:50] olegmoz opened #51 "Support moving value from one key to another"

[2020-02-12 08:50] 0crat commented on #51
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-12 08:50] 0crat commented on #51
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-12 12:27] g4s8 opened #53 "Update Junit framework to 5 version"
Bump Junit version to 5.x version

[2020-02-12 12:28] g4s8 commented on #53
@0crat assign me

[2020-02-12 13:21] 0crat commented on #53
@g4s8 The job [#53](https://github.com/artipie/asto/issues/53) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3541ec6a-9ca7-4a64-b252-7605f5be77b9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-02-12 13:46] 0crat commented on #53
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-12 14:02] 0crat commented on #53
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-12 14:04] olegmoz opened #55 "Add test coverage for BlockingStorage, RxStorage, RxStorageTransaction"

[2020-02-12 14:04] 0crat commented on #55
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-12 14:04] 0crat commented on #55
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-12 14:05] 0crat commented on #53
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-13 09:00] 0pdd opened #57 "FileStorageTest.java:43-46: The combination of RxFile and..."
The puzzle `53-9c70e0d7` from #53 has to be resolved:

https://github.com/artipie/asto/blob/5b2c095611e1f0ac1c4cea53b48bb757bb7ede29/src/test/java/com/artipie/asto/FileStorageTest.java#L43-L46

The puzzle was created by @g4s8 on 12-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-02-13 09:00] 0pdd commented on #53
@g4s8 the puzzle [#57](https://github.com/artipie/asto/issues/57) is still not solved.

[2020-02-13 09:01] 0crat commented on #57
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 11:39] olegmoz opened #58 "Validate written data in FileStorage"
It might be a good idea, to validate just written file checksum. It may happen that something went wrong writing the file. For example we had a bug when last few bytes of file were missing, something may go wrong with file sytem, etc

[2020-02-13 11:39] 0crat commented on #58
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 11:39] 0crat commented on #58
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-13 13:51] #51 closed

[2020-02-13 13:52] #46 closed

[2020-02-13 14:06] olegmoz opened #59 "Implement InMemoryStorage to use in tests"
It would be easier to use in memory implementation of Storage instead of FileStorage (no need to create temp dir, faster execution, independent from OS etc)

[2020-02-13 14:06] 0crat commented on #59
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 14:06] 0crat commented on #59
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-13 14:43] 0crat commented on #51
Job `gh:artipie/asto#51` is not assigned, can't get performer

[2020-02-13 15:02] 0crat commented on #46
Job `gh:artipie/asto#46` is not assigned, can't get performer

[2020-02-13 15:13] 0crat commented on #51
This job is not in scope

[2020-02-13 15:27] 0crat commented on #46
This job is not in scope

[2020-02-14 11:23] olegmoz opened #61 "Storage.list() should accept Key as prefix"
Now Storage.list() method accepts String is prefix and expects it to be a file path actually. FileStorage for example verifies last symbol to be OS dependent path separator, which makes it impossible to use Storage without knowing your OS:
[code]

[2020-02-14 11:32] 0crat commented on #61
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-14 11:32] 0crat commented on #61
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-14 12:08] olegmoz opened #62 "Storage.list() should accept Key as prefix"
Now Storage.list() method accepts String is prefix and expects it to be a file path actually. FileStorage for example verifies last symbol to be OS dependent path separator, which makes it impossible to use Storage without knowing your OS:
[code]

[2020-02-14 12:08] 0crat commented on #62
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-14 12:08] 0crat commented on #62
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-14 12:10] olegmoz commented on #61
Posted to wrong project

[2020-02-14 12:11] 0crat commented on #61
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-14 12:11] 0crat commented on #61
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-14 12:11] #61 closed

[2020-02-14 13:21] 0crat commented on #61
Job `gh:artipie/asto#61` is not assigned, can't get performer

[2020-02-14 13:46] 0crat commented on #61
This job is not in scope

[2020-02-15 15:44] 0crat commented on #45
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-18 07:52] olegmoz opened #64 "FileStorage.exists() should not return `true` for directories"
Now `FileStorage.exists()` returns `true` for directories, so it is possible to have only key `a/b/c` in repository, but `exists()` will return `true` for key `a/b`. And at the same time `value()` methods will fail for this key. This behavior is inconsistent.

[2020-02-18 07:52] 0crat commented on #64
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-18 07:52] 0crat commented on #64
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-18 08:31] #45 closed

[2020-02-18 09:51] 0crat commented on #45
Order was finished: +30 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-18 09:55] g4s8 opened #67 "New storage types support [waiting for approval]"
Add new `Storage` implementations for cloud providers:
 - AWS S3
 - Ali Cloud
 - Huawei Cloud

[2020-02-18 12:46] olegmoz opened #69 "Key improvements"
Some improvements proposed for `Key` class:
* `parts` field should be of type `List`, because naturally it is ordered and has limited size.
* Add `Key.From()` constructor to create `Key` from `/`-delimited string. It is useful to create `Key` from strings created by `Key.string()` method and from URI path which is going to be very useful in adapters.
* Part string should not contain `/` symbol, ot

[2020-02-18 12:46] 0crat commented on #69
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-18 12:46] 0crat commented on #69
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-18 17:54] #57 closed

[2020-02-18 17:54] 0pdd commented on #57
The puzzle `53-9c70e0d7` has disappeared from the source code, that's why I closed this issue.

[2020-02-18 17:54] 0pdd commented on #53
@g4s8 the only puzzle [#57](https://github.com/artipie/asto/issues/57) is solved here.

[2020-02-18 18:35] 0crat commented on #57
Job `gh:artipie/asto#57` is not assigned, can't get performer

[2020-02-18 19:13] 0crat commented on #57
This job is not in scope

[2020-02-20 13:08] #62 closed

[2020-02-20 13:08] #64 closed

[2020-02-20 13:33] 0crat commented on #64
Job `gh:artipie/asto#64` is not assigned, can't get performer

[2020-02-20 13:38] 0crat commented on #62
This job is not in scope

[2020-02-20 14:01] 0crat commented on #62
Job `gh:artipie/asto#62` is not assigned, can't get performer

[2020-02-20 14:10] 0crat commented on #64
This job is not in scope

[2020-02-21 09:17] #69 closed

[2020-02-21 09:18] olegmoz commented on #35
Fixed in https://github.com/artipie/asto/issues/69

[2020-02-21 09:58] 0crat commented on #69
Job `gh:artipie/asto#69` is not assigned, can't get performer

[2020-02-21 10:15] 0crat commented on #69
This job is not in scope

[2020-02-21 10:26] g4s8 commented on #69
@rultor release, tag=`0.13.4`

[2020-02-21 10:28] rultor commented on #69
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21407-589593892)

[2020-02-21 10:35] #35 closed

[2020-02-21 10:43] rultor commented on #69
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21407-589593892) (took me 14min)

[2020-02-21 11:35] 0crat commented on #35
Job `gh:artipie/asto#35` is not assigned, can't get performer

[2020-02-21 11:35] 0crat commented on #35
This job is not in scope

[2020-02-25 09:22] g4s8 opened #77 "Replace Flow API with reactivestreams interfaces"
Replace all JDK9 Flow API to reactivestream interfaces. Use the latest parent release with JDK8 targets.

[2020-02-25 09:30] g4s8 opened #78 "Remove vertx snapshot dependency"
Get rid of snapshot dependencies of `vertx-core` and `vertx-rx-java2`.

[2020-02-25 09:39] g4s8 commented on #77
@Sammers21 see https://github.com/artipie/ppom/issues/14#issuecomment-590773670

[2020-02-25 09:56] 0crat commented on #77
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 09:59] 0crat commented on #77
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 09:59] 0crat commented on #78
The job [#78](https://github.com/artipie/asto/issues/78) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ea6db852-337f-4864-9b43-d7621ae4c6f1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-02-25 10:12] 0crat commented on #78
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 10:25] 0crat commented on #78
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 11:56] #77 closed

[2020-02-25 11:57] g4s8 commented on #77
@rultor release, tag=`0.14`

[2020-02-25 11:59] rultor commented on #77
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21427-590831560)

[2020-02-25 12:12] rultor commented on #77
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21427-590831560) (took me 12min)

[2020-02-25 12:21] g4s8 opened #81 "Update vertx dependency to 3.8.6"
Wait for `3.8.6` release of vertx-core and vertx-rx to replace changes from #80 PR

[2020-02-25 12:23] g4s8 commented on #78
@rultor release, tag=`0.14.1`

[2020-02-25 12:24] g4s8 commented on #78
Fixed in #80 will be continued in #81

[2020-02-25 12:24] #78 closed

[2020-02-25 12:25] rultor commented on #78
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21428-590840742)

[2020-02-25 12:42] rultor commented on #78
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21428-590840742) (took me 16min)

[2020-02-25 13:10] 0crat commented on #77
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-25 13:18] 0crat commented on #77
Order was finished: +35 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-25 13:18] 0crat commented on #78
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-25 13:30] 0crat commented on #78
Order was finished: +35 point(s) just awarded to @olegmoz[/z](https://www.0crat.com/u/olegmoz)

[2020-02-25 14:10] g4s8 opened #82 "java.lang.NoSuchMethodError: java.nio.ByteBuffer.flip()Ljava/nio/ByteBuffer"
`RxFile` is trying to use `ByteBuffer.flip()` method which is not available on JDK8, related to #78
[code]

[2020-02-25 14:30] 0crat commented on #82
The job [#82](https://github.com/artipie/asto/issues/82) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/92b59cc1-19cf-4895-80cd-81f1022db8a6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2020-02-25 14:33] g4s8 commented on #82
@rultor release, tag=`0.14.2`

[2020-02-25 14:34] rultor commented on #82
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21430-590895640)

[2020-02-25 14:36] rultor commented on #82
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21430-590895640) (spent 2min)

[code]

[2020-02-25 14:43] g4s8 commented on #82
@rultor release, tag=`0.14.2`

[2020-02-25 14:44] rultor commented on #82
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21430-590900638)

[2020-02-25 14:47] rultor commented on #82
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21430-590900638) (spent 2min)

[code]

[2020-02-25 14:51] g4s8 commented on #82
@rultor release, tag=`0.14.2`

[2020-02-25 14:53] rultor commented on #82
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21430-590904941)

[2020-02-25 15:12] 0crat commented on #82
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 15:12] 0crat commented on #82
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 15:20] rultor commented on #82
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21430-590904941) (took me 26min)

[2020-02-25 15:53] 0crat commented on #82
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-02 14:01] olegmoz opened #87 "S3 storage implementation"
Create `Storage` implementation that stores data in S3.

[2020-03-02 14:01] 0crat commented on #87
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-02 14:01] 0crat commented on #87
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-03 16:43] paulodamaso opened #88 "Assertion messages and matchers"
We have a lot of assertions in our tests that doesn't show the proper message when failed or that are using static matchers.  We should fix them.

[2020-03-03 16:43] 0crat commented on #88
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-04 08:27] olegmoz opened #90 "Pass value content length along with content bytes in `Storage`"
Now `Storage.save()` method accepts flow of bytes and there is no way to know total content size before reading them all. But actual content length is often known to storage client and might be used by storage implementations for some optimization (such as allocating right amount of memory, choosing right uploading strategy etc).
Same goes for `value()` method. Storage usually knows content length

[2020-03-04 08:28] 0crat commented on #90
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-04 08:28] 0crat commented on #90
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-04 09:11] g4s8 opened #91 "ASTO may not update the file in some cases"
`Storage.save` sometimes puts wrong content to file, see https://github.com/artipie/rpm-adapter/issues/26

[2020-03-04 09:22] 0crat commented on #91
The job [#91](https://github.com/artipie/asto/issues/91) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0b89fcbc-f491-4366-8ec7-318faee023d5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2020-03-04 09:29] 0crat commented on #91
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-04 09:52] 0crat commented on #91
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-04 09:57] g4s8 commented on #91
@rultor release, tag=`0.14.4`

[2020-03-04 10:01] rultor commented on #91
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21463-594427641)

[2020-03-04 10:10] 0crat commented on #91
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-04 10:17] rultor commented on #91
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21463-594427641) (took me 15min)

[2020-03-04 10:51] #59 closed

[2020-03-04 11:20] 0crat commented on #59
Job `gh:artipie/asto#59` is not assigned, can't get performer

[2020-03-04 11:29] 0crat commented on #59
This job is not in scope

[2020-03-04 13:19] olegmoz opened #94 "Key should not allow empty parts"
Key parts should not be empty strings. Empty parts make no sense and are problematic to implement in many stores such as FileStroage, S3Storage

[2020-03-04 13:19] 0crat commented on #94
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-04 13:19] #91 closed

[2020-03-04 13:45] 0crat commented on #91
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-04 14:30] 0pdd opened #96 "MultipartUpload.java:83-85: Refactor MultipartUpload..."
The puzzle `87-0ebc33ba` from #87 has to be resolved:

https://github.com/artipie/asto/blob/4d5bfd390bd40e16e5f7b2579a18c5c6f215d6fc/src/main/java/com/artipie/asto/s3/MultipartUpload.java#L83-L85

The puzzle was created by @olegmoz on 04-Mar-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-03-04 14:30] 0pdd commented on #87
@olegmoz the puzzle [#96](https://github.com/artipie/asto/issues/96) is still not solved.

[2020-03-04 14:31] 0crat commented on #96
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-12 08:59] g4s8 commented on #47
Fixed in #49

[2020-03-12 08:59] #47 closed

[2020-03-12 09:40] #94 closed

[2020-03-12 09:40] #90 closed

[2020-03-12 10:51] Guseyn commented on #81
it's duplicate of #39

[2020-03-12 11:43] #81 closed

[2020-03-12 13:52] g4s8 commented on #82
Fixed

[2020-03-12 13:52] #82 closed

[2020-03-12 14:05] #88 closed

[2020-03-12 14:40] 0crat commented on #94
Job `gh:artipie/asto#94` is not assigned, can't get performer

[2020-03-12 15:14] 0pdd opened #108 "S3Storage.java:54-59: Do not await abort to complete if..."
The puzzle `87-c49a9b48` from #87 has to be resolved:

https://github.com/artipie/asto/blob/fad4c6372000fe143fe243a5c8372521f181c953/src/main/java/com/artipie/asto/s3/S3Storage.java#L54-L59

The puzzle was created by Oleg Mozzhechkov on 12-Mar-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-03-12 15:14] 0pdd commented on #87
@olegmoz 2 puzzles [#108](https://github.com/artipie/asto/issues/108), [#96](https://github.com/artipie/asto/issues/96) are still not solved.

[2020-03-12 15:15] 0crat commented on #108
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-12 15:30] 0crat commented on #81
Job `gh:artipie/asto#81` is not assigned, can't get performer

[2020-03-12 15:48] 0crat commented on #88
Job `gh:artipie/asto#88` is not assigned, can't get performer

[2020-03-12 16:34] 0crat commented on #47
Job `gh:artipie/asto#47` is not assigned, can't get performer

[2020-03-12 16:35] 0crat commented on #90
Job `gh:artipie/asto#90` is not assigned, can't get performer

[2020-03-12 21:28] 0crat commented on #82
Job `gh:artipie/asto#82` is not assigned, can't get performer

[2020-03-13 08:59] olegmoz opened #110 "Add delete method to Storage"
Delete method should remove particular value from Storage by key. If value not exists then the method should fail. So if it is a file storage it should not allow to delete folders, only files.

[2020-03-13 08:59] 0crat commented on #110
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-13 13:21] olegmoz opened #113 "Use generic Storage tests for FileStorage"
There are multiple Storage tests that are applicable for any Storage. Using them for FileStorage will improve test coverage and may reduce test code duplication

[2020-03-13 13:22] 0crat commented on #113
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-14 19:59] dgarus opened #114 "Add ctor to From with UUID"
Add ctor to com.artipie.asto.Key.From that accept the UUID parameter.
That ctor could be used in com.artipie.composer.http.Root#put

[2020-03-14 19:59] 0crat commented on #114
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-16 11:17] Guseyn opened #116 "RsWithHeaders"

[2020-03-16 11:17] 0crat commented on #116
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-16 14:27] g4s8 commented on #114
@dgarus I'm not sure that we need such constructor now. Where it can be used?

[2020-03-16 17:48] dgarus commented on #114
@g4s8 There are few places in artipie projects:
[NewPackage#put](https://github.com/artipie/nuget-adapter/blob/d345aff94b24b670eb5d7723e2316c07f9686ad1/src/main/java/com/artpie/nuget/http/PackagePublish.java#L99)
planning in [Root#put](https://github.com/artipie/composer-adapter/blob/d38cde34be7a6333c7f1d54c3e210901399a249f/src/main/java/com/artipie/composer/http/Root.java#L67)

So I think it may

[2020-03-17 10:34] g4s8 commented on #114
@olegmoz please check this issue, do we need such constructor?

[2020-03-17 11:49] olegmoz commented on #114
@g4s8 true, I am building temporary keys for uploads from UUIDs, but I do not think that approach deserves to be generalized. So I'd rather say we do not need special constructor for that

[2020-03-19 13:45] #96 closed

[2020-03-19 13:45] 0pdd commented on #96
The puzzle `87-0ebc33ba` has disappeared from the source code, that's why I closed this issue.

[2020-03-19 13:46] 0pdd commented on #87
@olegmoz the puzzle [#108](https://github.com/artipie/asto/issues/108) is still not solved; solved: [#96](https://github.com/artipie/asto/issues/96).

[2020-03-19 15:01] 0crat commented on #96
Job `gh:artipie/asto#96` is not assigned, can't get performer

[2020-03-23 08:05] g4s8 commented on #87
@rultor release, tag=`0.16`

[2020-03-23 08:06] rultor commented on #87
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21581-602443406)

[2020-03-23 08:11] #116 closed

[2020-03-23 08:57] rultor commented on #87
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21581-602443406) (took me 50min)

[2020-03-23 11:10] 0crat commented on #116
Job `gh:artipie/asto#116` is not assigned, can't get performer

[2020-03-24 09:08] Guseyn opened #119 "Google Storage support"

[2020-03-24 09:08] 0crat commented on #119
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-24 11:39] #113 closed

[2020-03-24 11:57] 0crat commented on #113
Job `gh:artipie/asto#113` is not assigned, can't get performer

[2020-03-24 13:43] Guseyn opened #129 "Ali storage support"

[2020-03-24 13:43] 0crat commented on #129
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-25 11:56] brastak opened #131 "FileStorage incorrectly processes list(Key.ROOT) call"
Calculation of path prefixes works incorrectly when Key.ROOT is passed to the list method.

Let's assume:
- base folder is /storage
- artifact is persisted in /storage/artifact.bin

When FileStorage.list() is called for the ROOT, than prefix length is 8 ("/storage".length() + "".length()) and the rest part of the path is /artifact.bin. We can not build key for this string and method fails (it spli

[2020-03-25 11:56] 0crat commented on #131
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-25 15:01] g4s8 commented on #131
@rultor release, tag=`0.16.1`

[2020-03-25 15:03] rultor commented on #131
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21611-603890376)

[2020-03-25 15:26] rultor commented on #131
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21611-603890376) (took me 22min)

[2020-03-25 16:57] brastak opened #134 "Need to use List instead of Collection in the Key Constructror"
https://github.com/artipie/asto/blob/e05853704c3dfdb93c5ecb48a3c2df25101632d6/src/main/java/com/artipie/asto/Key.java#L127

Ordering is important here, we should not work with HashSet<String>

[2020-03-25 16:58] 0crat commented on #134
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-25 17:18] #131 closed

[2020-03-25 17:35] 0crat commented on #131
Job `gh:artipie/asto#131` is not assigned, can't get performer

[2020-03-27 10:43] #110 closed

[2020-03-27 10:46] olegmoz opened #135 "Remove duplication of code for ByteBuffer concatination"
It is very common in tests (and in production code as well), to concatenate `Content` which is a `Publisher<ByteBuffer>` into single byte array. This operation requires a lot of code which is now copied and pasted across all Artipie modules.

[2020-03-27 10:46] 0crat commented on #135
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-27 11:00] 0crat commented on #110
Job `gh:artipie/asto#110` is not assigned, can't get performer

[2020-03-27 12:04] Guseyn opened #137 "test on value method in google storage"

[2020-03-27 12:04] 0crat commented on #137
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-30 08:13] brastak opened #138 "Add parent() method to the Key"
Key is designed with the hierarchical nature in the mind. We have constructors that:
- create Key from the parts;
- create Key from the base Key and the rest parts.

But we don't have the methods to get parent Key from the current.

[2020-03-30 08:13] 0crat commented on #138
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-30 08:14] brastak opened #139 "Implement SubStorage / VirtualStorage conception"
Storages can be shared by repositories. But repositories don't want to have mixed content. So, storage paths of the different repositories will be separated by Key prefixes.
But we have to manage this prefixes when request is processed. Often both of Slice adapter and Repository itself must add/remove Key prefixes info to the request context.
There is alternative - to use SubStorage / VirtualStora

[2020-03-30 08:15] 0crat commented on #139
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-30 11:35] #134 closed

[2020-03-30 11:58] 0crat commented on #134
Job `gh:artipie/asto#134` is not assigned, can't get performer

[2020-04-01 09:14] g4s8 opened #142 "Ensure file storage can read and write huge files"
Add a test to verify that `FilesStorage` can read and write files up to 5GB, fix if needed.

[2020-04-01 14:26] g4s8 commented on #142
@rultor release, tag=`0.17`

[2020-04-01 14:26] g4s8 commented on #142
Fixed by #143

[2020-04-01 14:26] #142 closed

[2020-04-01 14:27] rultor commented on #142
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21677-607281744)

[2020-04-01 14:42] rultor commented on #142
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21677-607281744) (took me 14min)

[2020-04-01 15:01] 0crat commented on #142
Job `gh:artipie/asto#142` is not assigned, can't get performer

[2020-04-01 18:45] #138 closed

[2020-04-06 09:33] olegmoz opened #144 "Add abstract decorator for Storage"
It is inconvenient to create implementations of Storage composed of other implementations without an abstract decorator class

[2020-04-06 09:33] 0crat commented on #144
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-06 14:05] olegmoz opened #146 "Add Storage method to read value size without all of it's content"
There are cases when only length of value is needed and it is not required to read all of it's content (such as getting layer metadata in Docker registry API, see https://docs.docker.com/registry/spec/api/#pushing-an-image)

[2020-04-07 14:54] #144 closed

[2020-04-07 15:12] 0crat commented on #144
Job `gh:artipie/asto#144` is not assigned, can't get performer

[2020-04-07 15:42] olegmoz commented on #144
@g4s8 please make a release with this issue resolved, I would like to use it in Docker adapter

[2020-04-07 17:36] g4s8 commented on #144
@rultor release, tag=`0.17.1`

[2020-04-07 17:39] rultor commented on #144
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21707-610523260)

[2020-04-07 17:53] rultor commented on #144
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21707-610523260) (took me 13min)

[2020-04-14 12:56] Guseyn opened #149 "Fix coordination of fs instance in FileStorage class"

[2020-04-14 12:56] 0crat commented on #149
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-14 15:25] #146 closed

[2020-04-14 15:44] 0crat commented on #146
Job `gh:artipie/asto#146` is not assigned, can't get performer

[2020-04-14 15:48] g4s8 commented on #146
@rultor release, tag=`0.18`

[2020-04-14 15:50] rultor commented on #146
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21778-613522082)

[2020-04-14 16:01] rultor commented on #146
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21778-613522082) (took me 10min)

[2020-04-14 22:17] Sammers21 commented on #39
Vert.x 3.9.0 has been released

[2020-04-16 14:34] Guseyn opened #153 "InMemory value method not working"
In npm adapter I tried to do following with in-memory storage:

[code]

and last line with `storage.value(new KeyFromPath("/package")).get();` simply waits forever and never completes.

On the other hand `FileStorage` works fine.

[2020-04-16 14:34] 0crat commented on #153
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-16 14:40] Guseyn commented on #153
@olegmoz I would recommend another adapter for reproducing the bug, as I tested it with fixed npm adapter. But it seems it will not work for any of properly working adapters.

[2020-04-16 15:05] 0crat commented on #153
The job [#153](https://github.com/artipie/asto/issues/153) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/93be5a28-3f6d-4d10-b22d-5147e7576815); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-17 10:16] olegmoz commented on #153
@Guseyn Ok, so I simplified a little bit the test, because all the class needed in example are not in master branch still:
[code]
And the test does not hang, it crashes with IllegalArgumentException which I guess is expected.
Do you think this test simplification is wrong?

[2020-04-17 10:32] Guseyn commented on #153
@olegmoz It's hard to say, I guess it because you don't use vertx server and maybe the with our vertx server implementation, but it's hard to say. I think you should test it with other proper working slices or make checkout from branch https://github.com/Guseyn/npm-adapter/tree/upload-slice-test

[2020-04-17 12:00] olegmoz commented on #153
@Guseyn thanks for the link! Can reproduce the issue now

[2020-04-17 13:22] olegmoz commented on #153
@Guseyn the reason test passes with FileStorage is that FileStorage creates file before it's content is written (and there no content comes to Storage in this test).
Added issue for that: https://github.com/artipie/npm-adapter/issues/46
Fixed that InMemoryStorage blocks forever when endless Content is being saved - getting this fixed in created PR for this issue.

[2020-04-17 14:01] Guseyn commented on #153
@olegmoz cool, thanks, guess all these rx java shit is still magic to me

[2020-04-20 11:34] g4s8 opened #155 "Storage extensions"
Add `Storage` extensions for common behavior across other modules, e.g. for calculating checksums.

[2020-04-20 12:04] Guseyn opened #156 "new extension of storage for alibaba"

[2020-04-20 12:46] Guseyn commented on #153
@g4s8 I think, I can close this ticket as it's resolved

[2020-04-20 12:46] #153 closed

[2020-04-20 12:47] Guseyn commented on #67
@g4s8 started doing Ali Cloud, plz merge skeleton #157

[2020-04-20 13:16] 0crat commented on #153
Job [#153](https://github.com/artipie/asto/issues/153) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-04-20 13:23] 0crat commented on #153
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-20 13:24] sereshqua commented on #153
@0crat quality good

[2020-04-20 13:25] 0crat commented on #153
Job [#153](https://github.com/artipie/asto/issues/153) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-04-20 16:21] g4s8 commented on #67
@Guseyn what happens with google-cloud implementation

[2020-04-21 17:05] brastak opened #159 "RxStorage API modification"
I have 2 proposals about RxStorage API:
1. change signature of list(Key) method: why we don't use Flowable<Key>? It fits better rx nature, in my opinion.
2. add error-free value() method. Currently we need to use exists().andThen(value()) approach to be sure that object exists in the storage. We can alter value() method to return Maybe<Content> (or we can add new method).

[2020-04-21 17:06] 0crat commented on #159
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-23 12:37] g4s8 commented on #159
@brastak I agree about 1 point. Also, I'd change `Storage.value` method to and return just `Publisher` without `CompletableFuture`.

But I don't really like 2 (error-free value), I think `RxStorage` should have same behavior as `Storage` to avoid confusion but using Rx API

[2020-04-23 13:49] brastak commented on #159
@g4s8 Maybe we should change `Storage` API too? Getting value is our the most used operation, but now we have no way to execute it with one call. We should check key for existing firstly, and then retrieve. We provoke clients to use just `Storage.value` and handle exception (because of it should work almost 2 times faster) that does not look like good code design

[2020-04-24 07:32] Sammers21 opened #160 "Storages syncronization"
There is a use case in gem adapter, which requires synchronization of two storages: local temp dir with metadata and underlying primary storage.

I would like to request to add a Storage synchronization primitive.

[2020-04-24 07:32] 0crat commented on #160
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-24 07:36] g4s8 commented on #160
@Sammers21 yes, it may be useful

[2020-04-24 12:10] 0pdd opened #162 "Copy.java:39-41: Implement Copy class. This class..."
The puzzle `160-2edb9ba4` from #160 has to be resolved:

https://github.com/artipie/asto/blob/82add0ff76d4c10b32b3e908a23f064be54f0cc7/src/main/java/com/artipie/asto/Copy.java#L39-L41

The puzzle was created by @Sammers21 on 24-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fix

[2020-04-24 12:10] 0pdd commented on #160
@Sammers21 the puzzle [#162](https://github.com/artipie/asto/issues/162) is still not solved.

[2020-04-24 12:11] 0crat commented on #162
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-24 14:37] g4s8 opened #163 "Repository with S3 storage back doesn't work"
When using S3 storage configuration for repository, the request to Artipie hangs forever and then reset by request timeout. Artipie doesn't print logs about it.
Configuration:
[code]
To reproduce I started Docker image: `docker run -v $PWD/tmp:/var/artipie -p80:80 artipie:local` (local I build from the latest master commit with `docker build -t artipie:local .`).
And send HTTP request for upload:

[2020-04-24 14:48] 0crat commented on #163
The job [#163](https://github.com/artipie/asto/issues/163) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b4905619-bd1a-40f3-90e0-495281066ebf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-24 14:48] 0crat commented on #162
The job [#162](https://github.com/artipie/asto/issues/162) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/793757ec-4bca-49ce-a6d9-83b40c74c996); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-27 15:48] #162 closed

[2020-04-27 15:48] 0pdd commented on #162
The puzzle `160-2edb9ba4` has disappeared from the source code, that's why I closed this issue.

[2020-04-27 15:48] 0pdd opened #168 "RxCopy.java:37-39: Implement RxCopy class. This class..."
The puzzle `160-24b7b6f9` from #160 has to be resolved:

https://github.com/artipie/asto/blob/aeda84b9bbb6b08b2342b91552a1d24f9c4f2a9b/src/main/java/com/artipie/asto/rx/RxCopy.java#L37-L39

The puzzle was created by @g4s8 on 27-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fix

[2020-04-27 15:49] 0pdd commented on #160
@Sammers21 the puzzle [#168](https://github.com/artipie/asto/issues/168) is still not solved; solved: [#162](https://github.com/artipie/asto/issues/162).

[2020-04-27 15:49] 0crat commented on #168
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-27 16:07] 0crat commented on #162
Job [#162](https://github.com/artipie/asto/issues/162) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't set title

[2020-04-27 16:08] 0crat commented on #162
Job [#162](https://github.com/artipie/asto/issues/162) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't set title

[2020-04-27 16:08] 0crat commented on #162
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-28 03:51] sereshqua commented on #162
@0crat quality good

[2020-04-28 07:54] #168 closed

[2020-04-28 07:54] 0pdd commented on #168
The puzzle `160-24b7b6f9` has disappeared from the source code, that's why I closed this issue.

[2020-04-28 07:54] 0pdd commented on #160
@Sammers21 all 2 puzzles are solved here: [#162](https://github.com/artipie/asto/issues/162), [#168](https://github.com/artipie/asto/issues/168).

[2020-04-29 12:20] #160 closed

[2020-04-29 12:47] 0crat commented on #160
Job `gh:artipie/asto#160` is not assigned, can't get performer

[2020-04-29 16:08] 0crat commented on #163
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-07 11:31] g4s8 commented on #168
@rultor release, tag=`0.19`

[2020-05-07 11:31] rultor commented on #168
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22005-625198727)

[2020-05-07 11:32] rultor commented on #168
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22005-625198727) (spent 16s)

[code]

[2020-05-07 11:37] g4s8 commented on #168
@rultor release, tag=`0.19`

[2020-05-07 11:38] rultor commented on #168
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22005-625201387)

[2020-05-07 11:46] rultor commented on #168
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22005-625201387) (spent 8min)

[code]

[2020-05-07 11:47] g4s8 commented on #168
@rultor release, tag=`0.19.1`

[2020-05-07 11:48] rultor commented on #168
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22005-625205648)

[2020-05-07 11:57] rultor commented on #168
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22005-625205648) (took me 8min)

[2020-05-13 15:14] g4s8 opened #171 "File storage is too slow"
Copying 1Gb file via `FileStorage` takes about 10-13 seconds, while copying the same file from and to same disks and filesystems takes less than 1 second. Let's fix it.

[2020-05-13 15:16] 0crat commented on #171
The job [#171](https://github.com/artipie/asto/issues/171) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3be7bde9-fe9f-4a1c-bc48-6e371c8b4107); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-05-14 08:02] #135 closed

[2020-05-14 08:19] 0crat commented on #135
Job `gh:artipie/asto#135` is not assigned, can't get performer

[2020-05-14 14:03] g4s8 commented on #163
@rultor release, tag=`0.19.2`

[2020-05-14 14:04] rultor commented on #163
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22052-628657981)

[2020-05-14 14:12] rultor commented on #163
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22052-628657981) (took me 8min)

[2020-05-14 15:48] g4s8 commented on #163
@olegmoz I just verified and S3 storage is working fine with artipie repos, thanks

[2020-05-14 15:48] #163 closed

[2020-05-14 16:07] 0crat commented on #163
Job [#163](https://github.com/artipie/asto/issues/163) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-05-14 16:07] 0crat commented on #163
Job [#163](https://github.com/artipie/asto/issues/163) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-05-14 16:07] 0crat commented on #163
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-14 19:26] sereshqua commented on #163
@0crat quality good

[2020-05-15 11:18] Sammers21 commented on #119
Google cloud storage is S3 compatible, that is why I would implement dedicated support for it

[2020-05-15 11:25] Sammers21 opened #174 "PostgreSQL support"
Postgres support transactions out of the box which makes it easy to implement the transactional part of the Storage interface.

I would also suggest using https://vertx.io/docs/vertx-pg-client/java/ for it.

[2020-05-15 11:25] 0crat commented on #174
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-15 12:13] 0crat commented on #174
The job [#174](https://github.com/artipie/asto/issues/174) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9b478a42-6ea5-4c1d-a2b3-107bede58356); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-05-15 14:28] g4s8 opened #175 "No test coverage"
Enabled test coverage limits and add codecov badge

[2020-05-15 14:30] 0crat commented on #175
The job [#175](https://github.com/artipie/asto/issues/175) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/231fcc86-fb93-445a-8823-cf1281610020); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-05-15 14:57] g4s8 commented on #171
@rultor release, tag=`0.20`

[2020-05-15 14:58] rultor commented on #171
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22067-629281215)

[2020-05-15 15:09] g4s8 opened #177 "Default buffer size based on system properties"
Use system properties to configure default buffer size for read

[2020-05-15 15:09] #177 closed

[2020-05-15 15:10] 0crat commented on #177
Job [#177](https://github.com/artipie/asto/issues/177) is closed, can't start order

[2020-05-15 15:14] rultor commented on #171
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22067-629281215) (took me 16min)

[2020-05-15 15:27] 0crat commented on #177
Job `gh:artipie/asto#177` is not assigned, can't get performer

[2020-05-18 11:57] #155 closed

[2020-05-18 11:57] #175 closed

[2020-05-18 12:14] 0crat commented on #155
Job `gh:artipie/asto#155` is not assigned, can't get performer

[2020-05-19 08:43] g4s8 opened #178 "Deploy snapshots"
Deploy snapshots to Artipie central

[2020-05-19 08:50] 0crat commented on #178
The job [#178](https://github.com/artipie/asto/issues/178) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/650301a2-54b6-44cf-8f5e-c6eb4dbe06b8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-05-19 09:57] g4s8 commented on #178
@rultor release, tag=`0.20.1`

[2020-05-19 09:58] rultor commented on #178
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22096-630717618)

[2020-05-19 10:06] rultor commented on #178
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22096-630717618) (took me 8min)

[2020-05-20 08:06] 0crat commented on #139
The job [#139](https://github.com/artipie/asto/issues/139) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2079d773-8757-4621-a8fe-d840bd79f657); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-05-20 09:28] g4s8 commented on #139
@brastak please check #180 PR

[2020-05-20 12:09] 0pdd opened #181 "Implement prefixed transaction support."
The puzzle `139-b53f425f` from #139 has to be resolved:

https://github.com/artipie/asto/blob/27310ae5a14276fbee5f9b423906b26150870702/src/main/java/com/artipie/asto/SubStorage.java#L36-L39

The puzzle was created by Kirill on 20-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2020-05-20 12:09] 0pdd commented on #139
@brastak the puzzle [#181](https://github.com/artipie/asto/issues/181) is still not solved.

[2020-05-20 12:09] g4s8 commented on #139
@rultor release, tag=`0.20.2`

[2020-05-20 12:11] rultor commented on #139
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22122-631433758)

[2020-05-20 12:17] rultor commented on #139
@brastak @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22122-631433758) (spent 7min)

[code]

[2020-05-20 12:26] g4s8 commented on #139
@rultor release, tag=`0.20.2`

[2020-05-20 12:27] rultor commented on #139
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22122-631441407)

[2020-05-20 12:33] rultor commented on #139
@brastak @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22122-631441407) (spent 7min)

[code]

[2020-05-20 12:42] g4s8 commented on #139
@rultor release, tag=`0.20.2`

[2020-05-20 12:44] rultor commented on #139
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22122-631449227)

[2020-05-20 12:53] rultor commented on #139
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22122-631449227) (took me 9min)

[2020-05-21 07:59] #178 closed

[2020-05-21 08:02] g4s8 commented on #178
@rultor release, tag=`0.20.3`

[2020-05-21 08:02] rultor commented on #178
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22096-631946391)

[2020-05-21 08:03] rultor commented on #178
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22096-631946391) (spent 17s)

[code]

[2020-05-21 08:16] 0crat commented on #178
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-21 09:26] g4s8 commented on #178
@rultor release, tag=`0.20.3`

[2020-05-21 09:28] rultor commented on #178
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22096-631984119)

[2020-05-21 09:28] rultor commented on #178
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22096-631984119) (spent 18s)

[code]

[2020-05-21 09:45] g4s8 commented on #178
@rultor release, tag=`0.20.3`

[2020-05-21 09:46] rultor commented on #178
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22096-631992346)

[2020-05-21 09:55] rultor commented on #178
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22096-631992346) (took me 8min)

[2020-05-22 13:22] olegmoz opened #182 "Storage operations logging"
To better understand what happens in integration tests and in production it would be nice to have `LoggingStorage` that delegates all operations to other `Storage` implementations and logs them.

[2020-05-22 13:22] 0crat commented on #182
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-25 16:51] g4s8 commented on #171
Fixed in `0.20`

[2020-05-25 16:51] #171 closed

[2020-05-25 17:08] 0crat commented on #171
Job `gh:artipie/asto#171` is not assigned, can't get performer

[2020-05-28 07:30] #182 closed

[2020-05-28 07:31] 0pdd opened #186 "LoggingStorageTest.java:30-34: Add tests for..."
The puzzle `87-de141472` from #87 has to be resolved:

https://github.com/artipie/asto/blob/eb7d4ee356639cf244b02af68e58e689a18aa07d/src/test/java/com/artipie/asto/LoggingStorageTest.java#L30-L34

The puzzle was created by @olegmoz on 22-May-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-05-28 07:31] 0pdd commented on #87
@olegmoz 2 puzzles [#108](https://github.com/artipie/asto/issues/108), [#186](https://github.com/artipie/asto/issues/186) are still not solved; solved: [#96](https://github.com/artipie/asto/issues/96).

[2020-05-28 07:31] 0crat commented on #186
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 07:33] g4s8 commented on #87
@olegmoz I suppose S3 storage is working now, can we close this ticket?

[2020-05-28 07:56] 0crat commented on #182
Job `gh:artipie/asto#182` is not assigned, can't get performer

[2020-05-28 12:49] olegmoz commented on #182
@rultor release, tag=`0.20.4`

[2020-05-28 12:51] rultor commented on #182
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22212-635329613)

[2020-05-28 13:06] rultor commented on #182
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22212-635329613) (took me 14min)

[2020-05-29 07:40] olegmoz commented on #87
@g4s8 sure, closing it

[2020-05-29 07:40] #87 closed

[2020-05-29 07:57] 0crat commented on #87
Job `gh:artipie/asto#87` is not assigned, can't get performer

[2020-05-29 16:40] victornoel opened #187 "Consider creating a Chunked Content of bytes"
Sometimes it can be useful to create a `Content` from some bytes but having them chunked in the `Flowable`.

There is one implementation of it in the helm-adapter project of artipie, see `TgzArchive` class and https://github.com/artipie/helm-adapter/pull/25.

Consider pulling this implementation into asto for reuse everywhere needed in artipie and replacing it in helm-adapter.

[2020-05-29 16:40] 0crat commented on #187
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-01 15:54] g4s8 opened #188 "Sub storage list includes prefix"
`SubStorage` list method includes prefix in result keys.

[2020-06-01 16:01] 0crat commented on #188
The job [#188](https://github.com/artipie/asto/issues/188) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e77f3c58-d50a-476d-9772-194f482e2354); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-06-02 07:25] g4s8 commented on #188
@rultor release, tag=`0.20.5`

[2020-06-02 07:26] rultor commented on #188
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22252-637345794)

[2020-06-02 07:35] rultor commented on #188
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22252-637345794) (took me 9min)

[2020-06-02 08:54] g4s8 commented on #188
Fixed

[2020-06-02 08:54] #188 closed

[2020-06-02 09:11] 0crat commented on #188
Job was finished in 16 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-02 16:20] Sammers21 opened #189 "Proper laziness in Rx components"
Not all the Rx components are properly lazy: when calling a method returning `Completable`, `Single`, etc., the actual computations should happen only after `subscribe()` call.

[2020-06-02 16:21] 0crat commented on #189
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-02 21:13] brastak opened #191 "Concatenation class is extremely slow on reading large files"
The reason is here:
https://github.com/artipie/asto/blob/427aaa12208a5952d3ae33e4a59ae1e7e71dc83a/src/main/java/com/artipie/asto/Concatenation.java#L63-L65

Let's assume that we are reading 100+MB file by the chunks of 8 KB. When reading is close to finish, we allocate new ~100MB buffer on every iteration. Reading file fragment from 100MB to 101MB produces ~ 128 * 100MB = >12GB memory consumption.

[2020-06-02 21:13] 0crat commented on #191
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-03 07:10] 0crat commented on #191
The job [#191](https://github.com/artipie/asto/issues/191) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b597784b-79b5-4689-9611-6a293323df0a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-03 09:08] g4s8 commented on #189
@Sammers21 can you explain the problem more detailed? I don't see any not lazy statement in `RxFile`.

[2020-06-03 09:15] Sammers21 commented on #189
@g4s8, when you call a method returning `Completable`, `Single`, ... the actual computations should happen only after `subscribe()` call.

[2020-06-03 09:49] #189 closed

[2020-06-03 10:08] 0crat commented on #189
Job `gh:artipie/asto#189` is not assigned, can't get performer

[2020-06-04 10:10] g4s8 opened #193 "Unable to upload big files to S3 storage"
When uploading big (128M) file to Artipie backed with S3 (OBS) storage, it returns 500 error with S3 SDK stacktrace:
[code]

[2020-06-04 10:12] 0crat commented on #193
The job [#193](https://github.com/artipie/asto/issues/193) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/647e94d2-2a5c-44f4-9836-6b6017b72dfe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-04 11:30] g4s8 commented on #193
@olegmoz it seems OBS of HuaweiCloud doesn't support multipart upload, maybe we can support additional optional S3 storage flag to disable multipart upload, e.g.:
[code]
What do you think?

[2020-06-04 12:40] olegmoz commented on #193
@g4s8 it won't be hard to implement such feature. But in configuration I think we should provide separate type `obs`, it would be easier for user

[2020-06-05 07:52] brastak opened #195 "Add support of partial uploads for InMemoryStorage"
Current implementation synchronously read all bytes from publisher and then write byte buffer to map.

It can cause the issues with the tests if we want to verify some concurrent behavior: an action is performed when file uploading is in progress.

[2020-06-05 07:52] 0crat commented on #195
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-05 07:56] g4s8 commented on #195
@olegmoz what do you think about it?

[2020-06-05 08:14] #193 closed

[2020-06-05 08:14] 0pdd opened #196 "S3Storage.java:67-71: Too many methods in `S3Storage`..."
The puzzle `193-ee41fbc9` from #193 has to be resolved:

https://github.com/artipie/asto/blob/23201287aefb4b520aa2a9f70f8667014f750b05/src/main/java/com/artipie/asto/s3/S3Storage.java#L67-L71

The puzzle was created by @olegmoz on 04-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-06-05 08:14] 0pdd commented on #193
@g4s8 the puzzle [#196](https://github.com/artipie/asto/issues/196) is still not solved.

[2020-06-05 08:14] g4s8 commented on #193
@rultor release, tag=`0.21`

[2020-06-05 08:15] 0crat commented on #196
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-05 08:16] rultor commented on #193
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22277-639329878)

[2020-06-05 08:30] rultor commented on #193
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22277-639329878) (took me 14min)

[2020-06-05 08:31] 0crat commented on #193
Job was finished in 22 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-05 08:32] 0crat commented on #193
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-05 08:37] sereshqua commented on #193
@0crat quality good

[2020-06-05 10:29] olegmoz commented on #195
@g4s8 I think that this behavior is similar to S3 storage, there you also cannot see a blob till it is fully upload. Files behavior is different  and I’d say we better fix it. So partial uploads and failed uploads cannot be seen. It can be done by saving to tmp file first and then moving it to desired location.

[2020-06-05 14:05] g4s8 opened #197 "S3 error: You must provide the Content-Length HTTP header"
When pushing Docker image, I got 500 error from stacktrace from S3 client `You must provide the Content-Length HTTP header`. It seems the request contains `Content-Length` header, but it was not provided to S3 storage:
[code]

[2020-06-05 14:06] 0crat commented on #197
The job [#197](https://github.com/artipie/asto/issues/197) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/7c39a35a-57e8-4c09-befc-a5ca3d93dbde); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-05 21:36] brastak commented on #195
@olegmoz  It's not the question of the `Storage` concurrent contract. It's the question of the method contract. InMemory storage `save` method is blocked until Publisher will be finished. It causes the problem with the tests that need to do something when Publisher has started, but has not finished.
I mean, it's not important can you access the uploaded file or not. `InMemoryStorage` will block cl

[2020-06-06 08:10] olegmoz commented on #195
@brastak that is weird, I am pretty sure that this issue was fixed some time ago, see: https://github.com/artipie/asto/pull/154
Maybe you are using older asto version or this problem was reintroduced

[2020-06-08 07:49] 0crat commented on #191
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-08 11:41] #197 closed

[2020-06-08 11:41] 0pdd opened #199 "S3Storage.java:277-280: Read no more then limit from..."
The puzzle `183-8c1925c2` from #183 has to be resolved:

https://github.com/artipie/asto/blob/00312a270aad751982696e9e540b6425220d1d3d/src/main/java/com/artipie/asto/s3/S3Storage.java#L277-L280

The puzzle was created by @olegmoz on 08-Jun-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-06-08 11:42] 0crat commented on #199
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-08 11:48] 0crat commented on #199
The job [#199](https://github.com/artipie/asto/issues/199) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a80c1deb-bfd9-48ad-9657-ed755d653db7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-08 12:01] 0crat commented on #197
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-08 12:20] g4s8 commented on #197
@rultor release, tag=`0.21.1`

[2020-06-08 12:21] rultor commented on #197
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22311-640568491)

[2020-06-08 12:34] rultor commented on #197
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22311-640568491) (spent 13min)

[code]

[2020-06-08 13:00] g4s8 commented on #197
@rultor release, tag=`0.21.1`

[2020-06-08 13:01] rultor commented on #197
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22311-640587760)

[2020-06-08 13:06] sereshqua commented on #197
@0crat quality good

[2020-06-08 13:20] rultor commented on #197
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22311-640587760) (spent 19min)

[code]

[2020-06-08 15:10] brastak commented on #195
@olegmoz This version still uses `Concatenation`. It reads all data from publisher and then writes it. The idea - to rewrite data in the map on every data chunk from publisher

[2020-06-08 15:20] g4s8 commented on #197
@rultor release, tag=`0.21.1`

[2020-06-08 15:21] rultor commented on #197
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22311-640697159)

[2020-06-08 15:28] rultor commented on #197
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22311-640697159) (spent 7min)

[code]

[2020-06-09 06:55] olenagerasimova opened #201 "SubStorage fails with ROOT key"
`SubStorage` from `ROOT` key fails to save content with `IllegalStateException`, I do not think this is correct behavior: `SubStorage` should process such case properly, as it's user I do not want to care whether my prefix is `ROOT` or not.

[2020-06-09 09:56] olenagerasimova commented on #201
@artipie/contributors what do you think? Maybe someone wants to fix it?

[2020-06-09 12:10] #195 closed

[2020-06-09 12:27] 0crat commented on #195
Job `gh:artipie/asto#195` is not assigned, can't get performer

[2020-06-09 12:54] #191 closed

[2020-06-09 12:55] brastak opened #203 "Change FileStorage to make content() and size() unavailable until file uploaded completely"
The other implementations of the `Storage` behave this way, so we need to align `FileStorage` contract

[2020-06-09 12:55] 0crat commented on #203
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-09 13:12] 0crat commented on #191
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @brastak[/z](https://www.0crat.com/u/brastak), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-09 13:14] g4s8 commented on #203
@brastak the possible solution would be to save content on upload to another file and move it to destination after complete, e.g. if we save `blob123` key to `FileStorage`, it saves data to `blob123.part` file and moves it to `blob123` file after complete. @artipie/contributors

[2020-06-09 13:23] brastak commented on #203
@g4s8 yes, that's the way I want to do it. The question is: what's better - to use filename-based mask (like `.part` suffix you mentioned) or to generate random UUID? The first approach allows to find zombie uploads and link it with the desired files (I'm not sure that this is really useful). But the second way is easier to implement (what if you already have `file.part` in your Storage and this i

[2020-06-09 14:57] sereshqua commented on #191
@0crat quality acceptable

[2020-06-09 14:57] sereshqua commented on #191
@g4s8 @brastak we need to make sure issues creator and issue performer are 2 different persons

[2020-06-09 15:57] g4s8 commented on #197
@rultor release, tag=`0.21.1`

[2020-06-09 15:57] rultor commented on #197
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22311-641398132)

[2020-06-09 15:59] 0crat commented on #201
The job [#201](https://github.com/artipie/asto/issues/201) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/46af7b0b-9c17-4fc6-a9e4-76f5043c6402); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-06-09 16:04] g4s8 commented on #201
@olenagerasimova actually it's not about `SubStorage`, only `InMemoryStorage` supports `Key.ROOT` key to save, both `FileStorage` and `S3Storage` doesn't support it. If you use `SubStorage` over `FileStorage`. I checked it with `StorageSaveAndLoadTest.shouldSave` test with replaced key with `ROOT`:
[code]

I think we should not support `ROOT` key for `save`, because it's empty key and may not be s

[2020-06-09 16:14] rultor commented on #197
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22311-641398132) (took me 16min)

[2020-06-11 07:00] g4s8 commented on #199
@rultor release, tag=`0.22`

[2020-06-11 07:02] rultor commented on #199
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22336-642452885)

[2020-06-11 07:12] rultor commented on #199
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22336-642452885) (took me 9min)

[2020-06-16 09:53] olegmoz opened #204 "Publisher produced by `Storage.value` method should be readable once"
`S3Storage` and `InMemoryStorage` should return publishers that behave in same way. Now `S3Storage` produces publishers readable once and publisher from `InMemoryStorage` could be read multiple times.

[2020-06-16 09:53] 0crat commented on #204
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-16 16:59] victornoel commented on #196
@g4s8 I think you assigned to me instead of 0crat :)

[2020-06-17 08:16] olegmoz commented on #204
@Sammers21 here is the issue I was talking about

[2020-06-17 08:17] Sammers21 commented on #204
Got it.

@g4s8, assign it to me

[2020-06-17 13:15] 0crat commented on #204
The job [#204](https://github.com/artipie/asto/issues/204) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6314912c-e066-4274-aa12-4229301ed29e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-19 05:52] 0pdd opened #206 "OneTimePublisher.java:35-37: Use one time publisher in..."
The puzzle `204-8901f06f` from #204 has to be resolved:

https://github.com/artipie/asto/blob/f47f974914c63f4e198de37787b2df2eebff49f0/src/main/java/com/artipie/asto/OneTimePublisher.java#L35-L37

The puzzle was created by @g4s8 on 19-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-06-19 05:52] 0pdd commented on #204
@olegmoz the puzzle [#206](https://github.com/artipie/asto/issues/206) is still not solved.

[2020-06-19 05:53] 0crat commented on #206
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-22 13:47] 0crat commented on #204
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-24 07:06] g4s8 commented on #53
Fixed in #54

[2020-06-24 07:06] #53 closed

[2020-06-24 07:23] 0crat commented on #53
Job `gh:artipie/asto#53` is not assigned, can't get performer

[2020-06-24 07:26] g4s8 commented on #67
Done

[2020-06-24 07:26] #67 closed

[2020-06-24 07:45] 0crat commented on #67
Job `gh:artipie/asto#67` is not assigned, can't get performer

[2020-06-29 13:48] #206 closed

[2020-06-29 13:48] 0pdd commented on #206
The puzzle `204-8901f06f` has disappeared from the source code, that's why I closed this issue.

[2020-06-29 13:48] 0pdd commented on #204
@olegmoz the only puzzle [#206](https://github.com/artipie/asto/issues/206) is solved here.

[2020-06-29 14:07] 0crat commented on #206
Job `gh:artipie/asto#206` is not assigned, can't get performer

[2020-06-30 08:46] 0crat commented on #203
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-30 12:50] #203 closed

[2020-06-30 13:06] 0crat commented on #203
Job [#203](https://github.com/artipie/asto/issues/203) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-30 13:06] 0crat commented on #203
Job [#203](https://github.com/artipie/asto/issues/203) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-30 13:06] 0crat commented on #203
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-30 13:08] sereshqua commented on #203
@0crat quality good

[2020-07-02 06:58] #149 closed

[2020-07-02 06:58] g4s8 commented on #129
Ali storage supports S3 API.

[2020-07-02 06:58] #129 closed

[2020-07-02 06:59] g4s8 commented on #119
Google storage supports S3 API.

[2020-07-02 06:59] #119 closed

[2020-07-02 06:59] #156 closed

[2020-07-02 07:01] g4s8 commented on #203
@rultor release, tag=`0.23.1`

[2020-07-02 07:02] rultor commented on #203
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22476-652823469)

[2020-07-02 07:14] rultor commented on #203
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22476-652823469) (took me 12min)

[2020-07-02 07:15] 0crat commented on #149
Job `gh:artipie/asto#149` is not assigned, can't get performer

[2020-07-02 07:17] 0crat commented on #119
Job `gh:artipie/asto#119` is not assigned, can't get performer

[2020-07-02 07:18] 0crat commented on #156
Job `gh:artipie/asto#156` is not assigned, can't get performer

[2020-07-02 07:18] 0crat commented on #129
Job `gh:artipie/asto#129` is not assigned, can't get performer

[2020-07-02 09:30] 0crat commented on #204
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-02 09:32] olegmoz commented on #204
@Sammers21 it seems `FileStorage` produces publishers that could be read multiple times and there is no test to check this property

[2020-07-02 09:33] 0crat commented on #204
Job [#204](https://github.com/artipie/asto/issues/204) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't set title

[2020-07-02 09:33] 0crat commented on #204
GitHub issue is still open, won't close

[2020-07-02 10:17] Sammers21 commented on #204
@olegmoz, fixed in #210

[2020-07-02 11:59] #204 closed

[2020-07-02 12:19] 0crat commented on #204
Job [#204](https://github.com/artipie/asto/issues/204) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't set title

[2020-07-02 12:19] 0crat commented on #204
Job [#204](https://github.com/artipie/asto/issues/204) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't set title

[2020-07-02 12:19] 0crat commented on #204
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-02 12:25] sereshqua commented on #204
@0crat quality good

[2020-07-02 14:23] olegmoz commented on #204
@rultor release, tag=`0.23.2`

[2020-07-02 14:25] rultor commented on #204
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22483-653036546)

[2020-07-02 14:38] rultor commented on #204
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22483-653036546) (spent 13min)

[code]

[2020-07-03 08:18] olegmoz commented on #204
@rultor release, tag=`0.23.2`

[2020-07-03 08:20] rultor commented on #204
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22483-653418857)

[2020-07-03 08:34] rultor commented on #204
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22483-653418857) (spent 13min)

[code]

[2020-07-03 09:28] olegmoz commented on #204
@g4s8 rultor fails to release, could you look into this? Is it just sonatype down again or something else?

[2020-07-03 09:36] g4s8 commented on #204
@olegmoz it seems to be Sonatype error, it claims the staging rules with 504 Gateway Time-out:
[code]

[2020-07-03 09:36] g4s8 commented on #204
@rultor release, tag=`0.23.2`

[2020-07-03 09:37] rultor commented on #204
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22483-653453037)

[2020-07-03 09:58] rultor commented on #204
@g4s8 @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22483-653453037) (spent 20min)

[code]

[2020-07-03 11:16] g4s8 commented on #204
@rultor release, tag=`0.23.2`

[2020-07-03 11:17] rultor commented on #204
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22483-653496094)

[2020-07-03 11:38] rultor commented on #204
@g4s8 @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22483-653496094) (spent 21min)

[code]

[2020-07-03 11:51] olegmoz commented on #204
@rultor release, tag=`0.23.2`

[2020-07-03 11:52] rultor commented on #204
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22483-653510639)

[2020-07-03 12:09] rultor commented on #204
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22483-653510639) (took me 17min)

[2020-07-17 05:35] olenagerasimova opened #212 "Move ByteBufPublisher from docker to asto"
Docker-adapter has `ByteBufPublisher` class to read bytes from `Content`, I'd like to use this class in rpm (class `RpmITCase`) and pypi (`WheelSliceTest`) test scope. So, it seems reasonable to move this class from docker to asto.

[2020-07-17 05:36] olenagerasimova commented on #212
@g4s8 @olegmoz what do you say?

[2020-07-17 07:32] olegmoz commented on #212
@olenagerasimova nice idea, reading a flow of bytes into memory is useful in probably all adapters for parsing metadata files

[2020-07-20 05:38] olenagerasimova commented on #212
@0crat assign me

[2020-07-22 08:52] olenagerasimova opened #214 "Locker for the storage"
Implement storage locker to add lock to storage being updated, implementation should
1. check if storage is already locked
2. add lock key
3. release lock key

The simplest implementation can be found in rpm-adapter, check `com.artipie.rpm.misc.StorageLock`.
Consider introducing functionality to wait while storage is released.

[2020-07-23 05:35] olenagerasimova opened #215 "Last part of the key"
Let's introduce class to obtain last part of the key (filename), this feature is required both in python and rpm-adapters.

[2020-07-23 05:35] olenagerasimova commented on #215
@0crat assign me

[2020-07-23 08:24] olenagerasimova commented on #214
@0crat assign @olegmoz

[2020-07-24 13:45] #215 closed

[2020-07-24 14:04] 0crat commented on #215
Job was finished in 31 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-24 14:26] #212 closed

[2020-07-24 14:48] olenagerasimova commented on #215
@rultor release, tag=`0.23.3`

[2020-07-24 14:50] rultor commented on #215
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22720-663576375)

[2020-07-24 14:58] rultor commented on #215
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22720-663576375) (took me 8min)

[2020-07-30 09:21] olegmoz commented on #214
@g4s8 please assign me

[2020-07-30 09:22] olegmoz opened #217 "`FileStorage` returns content without unknown size"
`FileStorage` returns content without size specified. This was not the case some time ago and in my opinion all `Storage` implementations should return `Content` with known size

[2020-07-30 13:58] 0crat commented on #214
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-08-05 05:04] olenagerasimova commented on #201
not valid anymore

[2020-08-05 06:04] olenagerasimova opened #218 "Class to obtain test resource"
Let's introduce class to obtain resource from current class loader and put this resource to provided storage.

This functionality is required in every adapter, this class will allow to avoid code duplications and unexpected errors.

[2020-08-05 06:04] olenagerasimova commented on #218
@0crat assign me

[2020-08-06 07:22] olenagerasimova opened #220 "Read python project metadata on upload"
Update python adapter to `0.6`, improvements:
- python project metadata are now read/verified on upload
- sha256 hash added to index.html
- various packages support added including .egg and all possible archive types
- normalization for project names implemented

[2020-08-06 10:11] olenagerasimova commented on #220
wrong repository

[2020-08-06 10:11] #220 closed

[2020-08-06 10:34] 0crat commented on #220
Job `gh:artipie/asto#220` is not assigned, can't get performer

[2020-08-06 13:01] olenagerasimova opened #221 "Support sha-512 digest algorithm"
Let's add `SHA-512` algorithm to `ContentDigest.Digests` enum, required in maven.

[2020-08-07 07:08] #218 closed

[2020-08-07 07:50] #221 closed

[2020-08-07 08:07] 0crat commented on #221
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-07 10:13] olenagerasimova commented on #218
@rultor release, tag=`0.23.4`

[2020-08-07 10:14] rultor commented on #218
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22848-670443351)

[2020-08-07 10:22] rultor commented on #218
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22848-670443351) (took me 8min)

[2020-08-10 14:49] g4s8 opened #225 "Storage cache"
Implement generic cache in `Storage` to be used by proxy repositories like Maven proxy or Files proxy

[2020-08-11 12:40] olegmoz opened #227 "Empty Content implementation"
There are cases when empty `Content` is needed. It will be nice to have such class and instance to make such cases less verbose

[2020-08-11 13:47] #227 closed

[2020-08-11 14:07] 0crat commented on #227
Job `gh:artipie/asto#227` is not assigned, can't get performer

[2020-08-12 06:43] olegmoz commented on #227
@rultor release, tag=`0.23.5`

[2020-08-12 06:44] rultor commented on #227
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22913-672642357)

[2020-08-12 06:53] rultor commented on #227
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22913-672642357) (took me 9min)

[2020-08-13 10:12] g4s8 commented on #225
@rultor release, tag=`0.23.6`

[2020-08-13 10:14] rultor commented on #225
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22930-673391288)

[2020-08-13 10:25] rultor commented on #225
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22930-673391288) (took me 11min)

[2020-08-13 11:21] #214 closed

[2020-08-13 11:57] 0crat commented on #214
Job [#214](https://github.com/artipie/asto/issues/214) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-08-17 06:48] olegmoz opened #231 "StorageLock expiration"
When `StorageLock` is acquired by process and the process does not release it for whatever reason the lock cannot be obtained by any other process forever. Only manual deletion of lock from storage may solve the issue. The lock should expire automatically, after some timeout to allow timely release of the lock if some process didn't release it

[2020-08-17 06:56] 0crat commented on #231
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-17 12:52] g4s8 opened #233 "Cache verification"
Add additional parameter for cache to verify it's content. It'll be useful when the client knows hash-sums of cached data and want's to verify it before downloading.

Related to https://github.com/artipie/maven-adapter/issues/146

[2020-08-17 13:38] #139 closed

[2020-08-17 13:56] 0crat commented on #139
Job `gh:artipie/asto#139` is not assigned, can't get performer

[2020-08-18 14:13] g4s8 commented on #233
@rultor release, tag=`0.24`

[2020-08-18 14:14] rultor commented on #233
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23029-675503310)

[2020-08-18 14:23] rultor commented on #233
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/23029-675503310) (took me 8min)

[2020-08-19 07:38] #233 closed

[2020-08-19 07:56] 0crat commented on #233
Job was finished in 42 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-19 07:57] 0crat commented on #233
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [fc2053ac-7924-4d0f-a533-8f29b25c0f24](https://www.0crat.com/footprint/CT2E6TK9B/fc2053ac-7924-4d0f-a533-8f29b25c0f24), Type: "Remove job from WBS"

[2020-08-19 13:20] #231 closed

[2020-08-19 13:37] olegmoz commented on #231
@rultor release, tag=`0.25`

[2020-08-19 13:39] rultor commented on #231
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23060-676372041)

[2020-08-19 13:41] #225 closed

[2020-08-19 13:45] 0crat commented on #231
Job `gh:artipie/asto#231` is not assigned, can't get performer

[2020-08-19 13:51] rultor commented on #231
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23060-676372041) (took me 12min)

[2020-08-24 06:46] olegmoz opened #237 "Implement storage transactions using StorageLock"
Basic transaction functions may be implemented using `StorageLock` class to acquire lock for specified keys and so avoid concurrent access to locked data

[2020-08-24 06:57] 0crat commented on #237
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-24 16:57] 0crat commented on #217
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-26 09:16] #217 closed

[2020-08-26 09:25] olegmoz commented on #217
@rultor release, tag=`0.26`

[2020-08-26 09:27] rultor commented on #217
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23127-680767352)

[2020-08-26 09:35] 0crat commented on #217
Job `gh:artipie/asto#217` is not assigned, can't get performer

[2020-08-26 09:40] rultor commented on #217
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23127-680767352) (took me 13min)

[2020-08-28 10:11] olegmoz opened #246 "Reactive lock to work better with RxStorage"
ASTO library provides `RxStorage` wrapper to use instead of `Storage` and it is used in adapters. When using with `Lock` it is needed to adapt this kind of storage manually. It would be nice to have such adapter ready in library

[2020-08-28 10:14] 0crat commented on #246
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-28 14:02] #246 closed

[2020-08-28 14:19] 0crat commented on #246
Job `gh:artipie/asto#246` is not assigned, can't get performer

[2020-08-31 12:18] g4s8 opened #251 "Update dependencies"
Some dependencies has to be updated manually:

S3 dependency: https://github.com/artipie/asto/pull/249 due to API deprecation:
[code]

Reactive files IO has few important performance improvements and was moved from `g4s8/rio` to https://github.com/cqfn/rio under https://github.com/cqfn organization

[2020-09-02 13:18] #237 closed

[2020-09-02 13:34] 0crat commented on #237
Job `gh:artipie/asto#237` is not assigned, can't get performer

[2020-09-02 14:12] olegmoz commented on #237
@rultor release, tag=`0.27`

[2020-09-02 14:13] rultor commented on #237
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23187-685763825)

[2020-09-02 14:24] rultor commented on #237
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23187-685763825) (took me 10min)

[2020-09-03 07:31] olegmoz opened #260 "StorageLock fails acquire because of deleted proposals"
`StorageLock` reads proposals list and tries to read their content for expiration time after that. However proposals might be missing already and it causes `acquire` method to fail without good reason. This case should could be handled by additional check for existance of proposal value in `Storage` if `value` method has failed.

[2020-09-03 07:32] 0crat commented on #260
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-03 09:35] olenagerasimova opened #261 "Extend TestResource with method to add files to storage"
In maven-adapter it's often required to copy files from specified resources folder to storage, so let's add such method to `TestResource`.

[2020-09-03 10:44] #261 closed

[2020-09-03 11:02] 0crat commented on #261
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-09-08 11:04] olenagerasimova commented on #261
@rultor release, tag=`0.27.1`

[2020-09-08 11:05] rultor commented on #261
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23264-688795083)

[2020-09-08 11:15] rultor commented on #261
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23264-688795083) (took me 9min)

[2020-09-09 07:55] #260 closed

[2020-09-09 07:56] olegmoz commented on #260
@rultor release, tag=`0.28`

[2020-09-09 07:57] rultor commented on #260
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23275-689392474)

[2020-09-09 08:07] rultor commented on #260
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23275-689392474) (took me 9min)

[2020-09-09 08:12] 0crat commented on #260
Job `gh:artipie/asto#260` is not assigned, can't get performer

[2020-09-21 13:00] Sammers21 opened #281 "Back to the old BlockingStorage"
BlockingStorage was initially designed for simplicity, in #171 method signatures have been modified and now you need to explicitly handle the exceptions, which might look awful in a tiny lambda body.

Let's roll back the changes made.

[2020-09-22 14:12] #281 closed

[2020-09-22 14:29] 0crat commented on #281
Job `gh:artipie/asto#281` is not assigned, can't get performer

[2020-09-23 10:23] Sammers21 opened #282 "Atomicity check test"
There is no atomicity check test in the test suit. We should have one.

[2020-09-23 13:29] #282 closed

[2020-09-23 13:59] 0crat commented on #282
Job `gh:artipie/asto#282` is not assigned, can't get performer

[2020-10-12 10:32] olenagerasimova opened #284 "`Cache` implementation"
Let's add implementation of `Cache` to always load content from remote and cache it to storage. Content should be obtained from storage cache only if remote failed to return item.

[2020-10-12 10:35] 0crat commented on #284
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [1d9faa68-bd6e-4257-bfed-7c0f3542aaf8](https://www.0crat.com/footprint/CT2E6TK9B/1d9faa68-bd6e-4257-bfed-7c0f3542aaf8), Type: "Award points were added"

[2020-10-12 11:57] #284 closed

[2020-10-12 12:04] olenagerasimova commented on #284
@rultor release, tag=`0.30`

[2020-10-12 12:05] rultor commented on #284
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23522-707078645)

[2020-10-12 12:15] rultor commented on #284
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23522-707078645) (took me 9min)

[2020-10-12 12:19] 0crat commented on #284
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-29 10:38] olenagerasimova opened #286 "Cache should return Optional of Content"
Let's change signature of `Cache#load` method to return `CompletionStage` of Optional with Content as it's possible there will not be any content to return in cases we do not have requested data in cache and remote return any unsuccessful response.

[2020-10-30 09:40] olegmoz opened #287 "Alternative for CompletableFuture.failedFuture"
In Java 8 there is no quick way to create future that is failed from the start. It would be useful to create such class in ASTO and use it here and in other adapters

[2020-10-30 10:03] 0crat commented on #287
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-30 14:18] #287 closed

[2020-10-30 14:19] olegmoz commented on #287
@rultor release, tag=`0.30`

[2020-10-30 14:20] rultor commented on #287
@olegmoz Invalid release tag `0.30` specified. There is already a release `0.30` newer than the given release in this repository.

[2020-10-30 14:20] rultor commented on #287
@olegmoz I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-10-30 14:21] olegmoz commented on #287
@rultor release, tag=`0.31`

[2020-10-30 14:22] rultor commented on #287
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23616-719581018)

[2020-10-30 14:31] rultor commented on #287
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23616-719581018) (took me 9min)

[2020-10-30 15:05] 0crat commented on #287
Job `gh:artipie/asto#287` is not assigned, can't get performer

[2020-11-06 12:46] #286 closed

[2020-11-06 13:03] 0crat commented on #286
Job `gh:artipie/asto#286` is not assigned, can't get performer

[2020-11-08 17:25] olenagerasimova commented on #286
@rultor release, tag=`0.32`

[2020-11-08 17:26] rultor commented on #286
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23657-723640304)

[2020-11-08 17:40] rultor commented on #286
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23657-723640304) (took me 14min)

[2020-11-13 08:08] olenagerasimova opened #293 "Move ContentAs from artipie"
Let's move `ContentAs` class here from artipie.

[2020-11-13 10:41] #293 closed

[2020-11-13 10:47] olenagerasimova commented on #293
@rultor release, tag=`0.33`

[2020-11-13 10:48] rultor commented on #293
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23678-726693966)

[2020-11-13 10:57] rultor commented on #293
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23678-726693966) (took me 9min)

[2020-11-13 11:06] 0crat commented on #293
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-11-13 12:33] olenagerasimova commented on #293
@rultor release, tag=`0.33.1`

[2020-11-13 12:35] rultor commented on #293
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23678-726739969)

[2020-11-13 12:45] rultor commented on #293
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23678-726739969) (took me 10min)

[2020-12-04 13:07] olegmoz opened #296 "Copy all values in Copy class"
In tests it is useful to copy whole `Storage` to another storage. One case is to create a test environment from an example.

[2020-12-07 07:38] #296 closed

[2020-12-07 07:50] olegmoz commented on #296
@rultor release, tag=`0.33.2`

[2020-12-07 07:51] rultor commented on #296
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23831-739738955)

[2020-12-07 08:11] rultor commented on #296
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23831-739738955) (spent 20min)

[code]

[2020-12-07 10:03] olegmoz commented on #296
@rultor release, tag=`0.33.3`

[2020-12-07 10:04] rultor commented on #296
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23831-739812778)

[2020-12-07 10:19] rultor commented on #296
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23831-739812778) (spent 14min)

[code]

[2020-12-07 11:16] olegmoz commented on #296
@rultor release, tag=`0.33.4`

[2020-12-07 11:17] rultor commented on #296
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23831-739852894)

[2020-12-07 11:47] rultor commented on #296
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23831-739852894) (spent 30min)

[code]

[2020-12-07 13:15] olegmoz commented on #296
@rultor release, tag=`0.33.5`

[2020-12-07 13:16] rultor commented on #296
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23831-739911238)

[2020-12-07 13:38] rultor commented on #296
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23831-739911238) (spent 22min)

[code]

[2020-12-08 06:08] olegmoz commented on #296
@rultor release, tag=`0.33.6`

[2020-12-08 06:09] rultor commented on #296
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23831-740401478)

[2020-12-08 06:24] rultor commented on #296
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23831-740401478) (took me 14min)

[2020-12-24 00:35] 0crat commented on #293
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#293](https://github.com/artipie/asto/issues/293), since the job is not in scope anymore

[2021-01-28 14:41] #201 closed

[2021-02-04 12:24] #174 closed

[2021-02-04 12:25] 0crat commented on #174
Job `gh:artipie/asto#174` is not assigned, can't get performer

[2021-02-06 15:59] andreoss opened #299 "Tests from FromStorageCacheTest hang and never finish"
The tests hang and never finish.
https://github.com/artipie/asto/blob/master/src/test/java/com/artipie/asto/cache/FromStorageCacheTest.java#L156-L163

Reproducible with these JDKs.
[code]

[2021-02-06 20:12] andreoss commented on #196
@0crat await #299

[2021-02-06 20:43] andreoss commented on #196
@0crat wait for #299

[2021-02-06 20:52] 0crat commented on #196
@andreoss Can't understand "await", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `elect` Trigger election for ticket
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Revi

[2021-02-08 06:21] g4s8 commented on #299
@andreoss thanks for reporting. It looks strange: I can't reproduce it locally, and CI passes fine: https://github.com/artipie/asto/actions?query=workflow%3A%22Maven+Build%22
What is your environment?

[2021-02-08 12:09] andreoss commented on #299
@g4s8 Reproducible like that
[code]

[2021-02-08 12:21] g4s8 commented on #299
@andreoss I tried to run the same command three times, and it finished successfully:
[code]

Can you please check you're using latest version in master:
[code]

[2021-02-08 13:02] andreoss commented on #299
@g4s8
It depends on the number of available CPUs

Dead-locks:
[code]
Passes:
[code]

[2021-02-08 14:51] g4s8 commented on #299
@andreoss thanks, I can reproduce it with `--cpus=8`, with `--cpu=12` it works fine

[2021-02-09 09:40] andreoss commented on #299
Done in #300.

[2021-02-09 09:40] #299 closed

[2021-02-09 10:28] 0crat commented on #299
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2021-02-15 12:12] #196 closed

[2021-02-15 12:12] 0pdd commented on #196
The puzzle `193-ee41fbc9` has disappeared from the source code, that's why I closed this issue.

[2021-02-15 12:12] 0pdd commented on #193
@g4s8 the only puzzle [#196](https://github.com/artipie/asto/issues/196) is solved here.

[2021-02-15 12:29] 0crat commented on #196
Job [#196](https://github.com/artipie/asto/issues/196) is not in the agenda of @andreoss[/z](https://www.0crat.com/u/andreoss), can't set title

[2021-02-19 08:29] olenagerasimova opened #302 "FileStorage: Delete empty directories"
File storage should delete empty directories while deleting files

[2021-02-20 07:55] #302 closed

[2021-02-20 08:14] 0crat commented on #302
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2021-02-20 08:27] olenagerasimova commented on #302
@rultor release, tag=`0.33.7`

[2021-02-20 08:28] rultor commented on #302
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24154-782586034)

[2021-02-20 08:38] rultor commented on #302
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24154-782586034) (took me 9min)

[2021-02-20 14:33] olenagerasimova commented on #302
@rultor release, tag=`0.33.8`

[2021-02-20 14:34] rultor commented on #302
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24154-782690681)

[2021-02-20 14:45] rultor commented on #302
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24154-782690681) (took me 11min)

[2021-02-25 16:09] #251 closed

[2021-02-26 07:06] g4s8 commented on #251
@rultor release, tag=`0.34`

[2021-02-26 07:07] rultor commented on #251
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24183-786457473)

[2021-02-26 07:17] rultor commented on #251
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/24183-786457473) (took me 9min)

[2021-04-20 13:15] g4s8 opened #305 "Etcd storage"
Create etcd-backed storage implementation for better integration of configuration storage into cluster Artipie setup.

[2021-04-21 09:18] olenagerasimova opened #307 "`Delete` operation in `FileStorage`"
It's possible to catch `NoSuchFileException` when `FileStorage.delete()` operation is performed in multithreads and all the files from the directory are deleted and it is required to remove the directory itself. Let's correct `FileStorage#deleteEmptyParts` not to throw `NoSuchFileException`.

[2021-04-21 09:44] 0pdd opened #309 "The test is disabled, the CI can't start ETCD extension which depends on testcontainer with etcd..."
The puzzle `306-ccf10929` from #306 has to be resolved:

https://github.com/artipie/asto/blob/fc2ec934d3028b695a17e487f4a368fa425bac06/src/test/java/com/artipie/asto/etcd/EtcdStorageITCase.java#L46-L48

The puzzle was created by @g4s8 on 21-Apr-21.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2021-04-21 09:44] 0pdd opened #310 "Add etcd storage to StorageExtension to run all common tests on EtcdStorage too. It could be not..."
The puzzle `306-f94460d8` from #306 has to be resolved:

https://github.com/artipie/asto/blob/fc2ec934d3028b695a17e487f4a368fa425bac06/src/test/java/com/artipie/asto/etcd/EtcdStorageITCase.java#L49-L52

The puzzle was created by @g4s8 on 21-Apr-21.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2021-04-21 11:34] #307 closed

[2021-04-21 11:50] g4s8 commented on #305
@rultor release, tag=`0.35`

[2021-04-21 11:51] rultor commented on #305
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24377-823999935)

[2021-04-21 12:02] rultor commented on #305
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/24377-823999935) (took me 9min)

[2021-05-13 06:50] g4s8 opened #311 "Base Artipie exception"
Our customers work with many Artipie adapters as SDK libraries, each adapter works with exception differently. It'd be more convenient to have a base exception type to throw from SDK methods of each adapter and some additional sub-classes to provide more details (e.g. http-exception with status codes, etc).

The open questions are:
 - What is the correct repo/project to place such exception?
 - Wh

[2021-05-13 06:51] g4s8 commented on #311
@artipie/members WDYT?

[2021-05-13 08:35] genryxy commented on #311
@g4s8
`artipie` module looks the best but adapters do not have this dependency, therefore it should be some module which is used in all others (`http` or `asto`)
In my opinion, the name of class for exception is appropriate.
Unchecked exception looks better.

[2021-05-17 09:17] ChGen commented on #311
* I think this exception should be in `asto` module or in some new module which will be common dependency for all adapters.
* `ArtipieException` is good name for this base exception class
* Checked exception is overkill here, and in general it's not recommended.

[2021-05-19 07:37] #39 closed

[2021-05-19 07:43] g4s8 commented on #114
It seems we do not really need such constructor for `Key`

[2021-05-19 07:43] #114 closed

[2021-05-19 07:43] #137 closed

[2021-05-19 08:27] g4s8 commented on #187
@victornoel actually, the `Content` extends a `Publisher<ByteBuffer>` interface, which is already a chunked representation of a stream of byte buffers, so I don't really see a reason for additional chunking here.

[2021-05-19 08:27] #187 closed

[2021-05-19 08:40] g4s8 opened #312 "Short license"
Make license short

[2021-05-19 08:45] #312 closed

[2021-05-19 13:52] #311 closed

[2021-05-21 07:58] g4s8 opened #314 "Create storage implementation for benchmarks"
## Problem

Each adapter benchmark requires common logic for storage setup: it copies test data to storage, then run benchmark, then reset storage to initial state to run benchmark again. Using JMH, we can run multiple benchmarks simultaneously but in that case we need to construct and initialize a new storage for each test run, it may affect other benchmarks. Share one storage for all benchmarks

[2021-05-21 07:58] g4s8 commented on #314
@artipie/members what do you think?

[2021-05-21 08:45] genryxy commented on #314
@g4s8 I'd suggest to specify that it would be better to use `ConcurrentHashSet` from guava instead of `HashSet` to avoid synchronizing for each operation as we decided in Helm.
And the same for `ConcurrentHashMap` instead of `HashMap`. Or `NavigableMap` if method `list` should be implemented.
Also I have concern about **move** operation because it seems there is no way to get reference on byte arr

[2021-05-26 08:27] olenagerasimova commented on #311
@rultor release, tag=`0.36`

[2021-05-26 08:29] rultor commented on #311
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24552-848575404)

[2021-05-26 08:36] g4s8 commented on #311
@rultor stop

[2021-05-26 08:37] g4s8 commented on #311
@olenagerasimova it's a breaking change, since it requires changes on client code, this is why new exception has `since 1.0` flag

[2021-05-26 08:37] g4s8 commented on #311
@rultor release, tag=`1.0.0`

[2021-05-26 08:51] rultor commented on #311
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/24552-848582345) (took me 9min)

[2021-05-27 06:54] g4s8 opened #316 "Bump asto 1.0"
Update artipie/asto to `1.0.+` version with breaking changes: now `ArtipieException` is thrown in all methods instead of other exceptions, automatic update failed : https://github.com/artipie/helm-adapter/pull/144

[2021-05-27 07:02] olenagerasimova opened #317 "Add function that catches checked exception and throw ArtipieException"
Let's add function and consumer that catches checked exception and throw `ArtipieException`

[2021-05-27 08:58] #317 closed

[2021-05-27 09:01] olenagerasimova commented on #317
@rultor release, tag=`1.1.0`

[2021-05-27 09:03] rultor commented on #317
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24560-849465967)

[2021-05-27 09:13] rultor commented on #317
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24560-849465967) (took me 9min)

[2021-06-03 14:50] #314 closed

[2021-06-04 06:48] genryxy commented on #314
@g4s8 could you please release a new version

[2021-06-04 07:41] g4s8 opened #322 "v1.2.0"
New version 1.2.0

[2021-06-04 07:43] g4s8 commented on #322
@rultor release, tag=`1.2.0`

[2021-06-04 07:44] rultor commented on #322
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24591-854449607)

[2021-06-04 07:54] rultor commented on #322
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/24591-854449607) (took me 10min)

[2021-06-16 08:35] olenagerasimova opened #323 "Add unchecked scalars"
Let's add unchecked scalars implementations (I mean `Scalar` from cactoos) that will throw `ArtipieException` or `ArtipieIOException`.

[2021-06-17 12:29] #323 closed

[2021-06-18 06:48] olenagerasimova commented on #323
@rultor release, tag=`1.2.1`

[2021-06-18 06:49] rultor commented on #323
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24638-863801041)

[2021-06-18 07:02] rultor commented on #323
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24638-863801041) (took me 13min)

[2021-07-12 08:56] olenagerasimova opened #325 "Fix dependencies issues"
Fuxi reports the following dependencies with high-risk vulnerabilities:
com.fasterxml.jackson.dataformat / jackson-dataformat-cbor / 2.6.7 - test dependency (adobe.testing)
org.apache.ant/ant/1.10.3 - test dependency (org.testing)
org.yaml / snakeyaml / 1.21 - test dependency (org.testing)
com.fasterxml.jackson.core/jackson-databind/2.10.2 - excluded from main code, left in test deps
org.eclipse.j

[2021-07-13 11:34] g4s8 opened #327 "Copy storage using predicate"
Add new constructor to copy items from one storage to another using `Predicate` and not only fixed key's set

[2021-07-13 12:51] #327 closed

[2021-07-19 06:05] #322 closed

[2021-08-27 10:53] g4s8 opened #332 "Prevent arbitrary file write in `FileStorage`"
We should not allow to escape the sandbox of `FileStorage` and `SubStorage`, e.g. if we use `/var/artipie` as a primary storage and somebody is trying to write the key `/../../etc/passwd` the `FilesStorage` should throw and exception. Generally, the `Key` may not contain any up command and normalized path from `Key` should be always point to some sub-element.

Similar issue in RPM: https://github.

[2021-09-09 07:45] olenagerasimova commented on #325
all fixed

[2021-09-09 07:45] #325 closed

[2021-09-09 08:01] olenagerasimova opened #333 "Storage items as io streams"
Let's add a mechanism (sdk/classes/methods) to transform storage items to/from input/output streams. Such functionality is necessary as all java libraries to unpack/pack archives, parse/generate xmls/jsons files work with io streams, not with publishers. To implement such mechanism, piped input/output streams and [`rio`](https://github.com/cqfn/rio) will be used. What do we need:
- read item from

[2021-10-05 07:51] #305 closed

[2021-10-15 07:53] olenagerasimova opened #341 "Exclude any part from storage key"
Let's add class to exclude any part (by part string value or index) from the existing key and create a new key without this excluded part. By a part I mean a string between `/` chars, a part cannot contain separator char `\`.
Let's suppose the required class is called `KeyParts`, here is an example:
[code]
If part to exclude was not found (or index is out of bounds), the class can return the origi

[2021-10-15 08:54] g4s8 commented on #341
@olenagerasimova it's really clear what is the "part" here - it's just a substring or a string between `/` chars? Could you clarify and add some examples to help understand and write unit tests?

[2021-10-18 07:09] g4s8 opened #343 "GzipCompressorInputStream can stuck sometimes"
`GzipCompressorInputStream` can stuck on sometimes, maybe it depends on environment. This happens not often, but I still can reproduce it (by running the test multiple times) on macOS (on win build sometimes fails too).

The example is from `rpm`, there I need to update three metadata files, I'm doing in similar way.

We need to isolate the problem and make a minimal reproducible test for this.

C

[2021-10-27 11:10] 0pdd opened #345 "Test that operations are properly logged in LoggingStorage. We are currently testing that..."
The puzzle `186-fbb1def2` from #186 has to be resolved:

https://github.com/artipie/asto/blob/7e07dd52496ceb2dae39a264a37336e04902b2a3/src/test/java/com/artipie/asto/LoggingStorageTest.java#L19-L22

The puzzle was created by @baudoliver7 on 27-Oct-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2021-10-29 09:41] g4s8 opened #346 "New metadata method for storage"
# Problem

Some storage implementation provides additional metadata for blobs, which can be used for fast items processing: e.g. S3 storage can provide difference hash-sums of blob with `HEAD` request, so it could be used for fast item upload verification in many adapters instead of manual hash-sum calculation; also, almost all adapters can provide create/update time and blob size.

# Proposal

Ad

[2021-11-02 06:38] olenagerasimova opened #348 "Remove items from the storage by prefix key"
Very often it's necessary to remove items from storage by some key prefix:
[code]
Such methods are duplicated a lot in different adapters. I'd suggest to add class for this operation
(the example can be improved by checking that item exists before performing remove operation).

[2021-11-02 06:38] olenagerasimova commented on #348
@g4s8 please, pass this issue to freelancers

[2021-11-02 06:49] g4s8 commented on #346
@baudoliver7 actually I wanted to hear opinions of all participants who works with this code, so your comment is helpful too.

[2021-11-08 12:04] olenagerasimova opened #351 "List items of `SubStorage`"
I found two problems with `SubStorage`:
1) Complete lack of tests
2) `list` operation does work correctly in some cases: when `SubStorage` is created with `Ket.ROOT` as prefix, `list` removes first met `/` symbol, thus returning not existing items. For example, if the sub storage contains `abc/xyz/hello.txt`, then list by `abc` key will return `abcxyz/hello.txt`

[2021-11-08 13:00] #341 closed

[2021-11-08 13:00] 0pdd opened #352 "Add others key operations (exclusion by index, insertion,..). We should exclude a part from a..."
The puzzle `341-64dd66a6` from #341 has to be resolved:

https://github.com/artipie/asto/blob/60c0d4c713bb40484cbcf9bd6eabb6fa9e846645/src/main/java/com/artipie/asto/Key.java#L21-L23

The puzzle was created by @baudoliver7 on 08-Nov-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2021-11-08 13:01] 0pdd commented on #352
For some reason I wasn't able to add GitHub labels `` to this issue (required=`tech-debt`; existing=`0crat/new`, `0crat/role/dev`, `0crat/role/rev`, `0crat/scope`, `budget/30min`, `bug`, `ci/passed`, `customer-request`, `dependencies`, `documentation`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `later`, `merge`, `qa`, `quality/acceptable`, `quality/bad`, `quality/goo

[2021-11-08 13:01] 0pdd commented on #341
@olenagerasimova the puzzle [#352](https://github.com/artipie/asto/issues/352) is still not solved.

[2021-11-09 08:59] #351 closed

[2021-11-09 08:59] 0pdd opened #354 "Add more tests for {@link SubStorage}: all the methods of the class should be verified, do not..."
The puzzle `351-e3dca535` from #351 has to be resolved:

https://github.com/artipie/asto/blob/90387fff8316c8faa288c5288a7b753e881ad8fb/src/test/java/com/artipie/asto/SubStorageTest.java#L20-L22

The puzzle was created by @olenagerasimova on 09-Nov-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2021-11-09 08:59] 0pdd commented on #354
For some reason I wasn't able to add GitHub labels `` to this issue (required=`tech-debt`; existing=`0crat/new`, `0crat/role/dev`, `0crat/role/rev`, `0crat/scope`, `budget/30min`, `bug`, `ci/passed`, `customer-request`, `dependencies`, `documentation`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `later`, `merge`, `qa`, `quality/acceptable`, `quality/bad`, `quality/goo

[2021-11-09 08:59] 0pdd commented on #351
@olenagerasimova the puzzle [#354](https://github.com/artipie/asto/issues/354) is still not solved.

[2021-11-10 08:58] #346 closed

[2021-11-12 08:56] kirill-h5i commented on #354
@g4s8 assign to @baudoliver7

[2021-11-12 08:58] kirill-h5i commented on #352
@g4s8 assign to @baudoliver7

[2021-11-12 09:03] kirill-h5i commented on #345
@g4s8 assign to @baudoliver7

[2021-11-16 06:50] baudoliver7 commented on #348
@olenagerasimova I'm in charge of this issue.
I can't find the piece of code mentioned in description.

[2021-11-16 07:01] olenagerasimova commented on #348
@baudoliver7 in this repo this piece of code is not present, it's very popular in the adapters (rpm and docker at least)

[2021-11-16 07:04] baudoliver7 commented on #348
@olenagerasimova Ah, I see now. Thx :)

[2021-11-16 13:24] #354 closed

[2021-11-16 13:24] 0pdd opened #369 "Continue to add more tests for {@link SubStorage}. All the methods of the class should be..."
The puzzle `352-ace2d56f` from #352 has to be resolved:

https://github.com/artipie/asto/blob/aee483fca26b2506e3d3ed2d24f8ddbff97da4f8/src/test/java/com/artipie/asto/SubStorageTest.java#L20-L22

The puzzle was created by @baudoliver7 on 16-Nov-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2021-11-16 13:24] 0pdd commented on #369
For some reason I wasn't able to add GitHub labels `` to this issue (required=`tech-debt`; existing=`0crat/new`, `0crat/role/dev`, `0crat/role/rev`, `0crat/scope`, `budget/30min`, `bug`, `ci/passed`, `customer-request`, `dependencies`, `documentation`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `later`, `merge`, `qa`, `quality/acceptable`, `quality/bad`, `quality/goo

[2021-11-16 13:24] 0pdd commented on #341
@olenagerasimova 2 puzzles [#352](https://github.com/artipie/asto/issues/352), [#369](https://github.com/artipie/asto/issues/369) are still not solved.

[2021-11-16 13:24] 0pdd commented on #352
@0pdd the puzzle [#369](https://github.com/artipie/asto/issues/369) is still not solved.

[2021-11-16 13:24] 0pdd commented on #351
@olenagerasimova the only puzzle [#354](https://github.com/artipie/asto/issues/354) is solved here.

[2021-11-17 09:28] #345 closed

[2021-11-17 09:28] 0pdd opened #370 "Continue to test that operations are properly logged in {@ling LoggingStorage}. We have tested a..."
The puzzle `345-188ec55d` from #345 has to be resolved:

https://github.com/artipie/asto/blob/1014d5172e88d2f0625e047efa0c973cc02361fb/src/test/java/com/artipie/asto/LoggingStorageTest.java#L24-L27

The puzzle was created by @baudoliver7 on 17-Nov-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2021-11-17 09:28] 0pdd commented on #370
For some reason I wasn't able to add GitHub labels `` to this issue (required=`tech-debt`; existing=`0crat/new`, `0crat/role/dev`, `0crat/role/rev`, `0crat/scope`, `budget/30min`, `bug`, `ci/passed`, `customer-request`, `dependencies`, `documentation`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `later`, `merge`, `qa`, `quality/acceptable`, `quality/bad`, `quality/goo

[2021-11-17 09:28] 0pdd commented on #87
@olegmoz 2 puzzles [#108](https://github.com/artipie/asto/issues/108), [#370](https://github.com/artipie/asto/issues/370) are still not solved; solved: [#186](https://github.com/artipie/asto/issues/186), [#345](https://github.com/artipie/asto/issues/345), [#96](https://github.com/artipie/asto/issues/96).

[2021-11-17 09:28] 0pdd commented on #186
@0pdd the puzzle [#370](https://github.com/artipie/asto/issues/370) is still not solved; solved: [#345](https://github.com/artipie/asto/issues/345).

[2021-11-17 09:28] 0pdd commented on #345
@0pdd the puzzle [#370](https://github.com/artipie/asto/issues/370) is still not solved.

[2021-11-17 14:54] olenagerasimova opened #371 "SubStorage: list by `Key.ROOT`"
`SubStorage`, created with `Key.ROOT`, fails to list items by `Key.ROOT` with `ArtipieException: Empty parts are not allowed`, it can be reproduced with `FileStorage` storage:
[code]

In this case, `SubStorage` should properly handle empty parts of the key and the result should be the same as if we list items by `Key.ROOT` of the origin storage.

[2021-11-18 06:48] #352 closed

[2021-11-18 06:48] 0pdd commented on #341
@olenagerasimova the puzzle [#369](https://github.com/artipie/asto/issues/369) is still not solved; solved: [#352](https://github.com/artipie/asto/issues/352).

[2021-11-22 09:02] #371 closed

[2021-11-22 10:22] #370 closed

[2021-11-22 10:22] 0pdd commented on #87
@olegmoz the puzzle [#108](https://github.com/artipie/asto/issues/108) is still not solved; solved: [#186](https://github.com/artipie/asto/issues/186), [#345](https://github.com/artipie/asto/issues/345), [#370](https://github.com/artipie/asto/issues/370), [#96](https://github.com/artipie/asto/issues/96).

[2021-11-22 10:22] 0pdd commented on #186
@0pdd all 2 puzzles are solved here: [#345](https://github.com/artipie/asto/issues/345), [#370](https://github.com/artipie/asto/issues/370).

[2021-11-22 10:22] 0pdd commented on #345
@0pdd the only puzzle [#370](https://github.com/artipie/asto/issues/370) is solved here.

[2021-11-22 10:32] #369 closed

[2021-11-23 12:43] #348 closed

[2021-11-29 10:38] #332 closed

[2021-11-29 12:07] 0pdd opened #383 "Add test coverage for RxStorage, RxStorageTransaction."
The puzzle `55-4e3feec0` from #55 has to be resolved:

https://github.com/artipie/asto/blob/0ba492eda298a47886fa710cb92b5f8572fa35ed/src/main/java/com/artipie/asto/rx/RxStorageWrapper.java#L21-L21

The puzzle was created by Denis Garus on 29-Nov-21.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2021-11-29 12:07] 0pdd commented on #383
For some reason I wasn't able to add GitHub labels `` to this issue (required=`tech-debt`; existing=`0crat/new`, `0crat/role/dev`, `0crat/role/rev`, `0crat/scope`, `budget/30min`, `bug`, `ci/passed`, `customer-request`, `dependencies`, `documentation`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `later`, `merge`, `qa`, `quality/acceptable`, `quality/bad`, `quality/goo

[2021-11-29 12:07] 0pdd commented on #55
@olegmoz the puzzle [#383](https://github.com/artipie/asto/issues/383) is still not solved.

[2021-11-29 13:06] #309 closed

[2021-11-29 13:06] 0pdd opened #384 "Run Etcd in windows containers while testing on windows. Currently, when we try to run..."
The puzzle `309-68384b0c` from #309 has to be resolved:

https://github.com/artipie/asto/blob/1435113b13fef61c070aca21e80cc1b7414df77d/src/test/java/com/artipie/asto/etcd/EtcdStorageITCase.java#L37-L44

The puzzle was created by @baudoliver7 on 29-Nov-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2021-11-29 13:06] 0pdd commented on #384
For some reason I wasn't able to add GitHub labels `` to this issue (required=`tech-debt`; existing=`0crat/new`, `0crat/role/dev`, `0crat/role/rev`, `0crat/scope`, `budget/30min`, `bug`, `ci/passed`, `customer-request`, `dependencies`, `documentation`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `later`, `merge`, `qa`, `quality/acceptable`, `quality/bad`, `quality/goo

[2021-11-29 13:06] 0pdd commented on #309
@0pdd the puzzle [#384](https://github.com/artipie/asto/issues/384) is still not solved.

[2021-12-01 08:56] #333 closed

[2021-12-07 14:17] #310 closed

[2021-12-24 07:09] #55 closed

[2021-12-24 07:09] #383 closed

[2021-12-24 07:09] 0pdd commented on #383
The puzzle `55-4e3feec0` has disappeared from the source code, that's why I closed this issue.

[2021-12-24 07:09] 0pdd commented on #55
@olegmoz the only puzzle [#383](https://github.com/artipie/asto/issues/383) is solved here.

[2022-01-20 13:37] g4s8 opened #392 "Storage.Wrap doesn't include metadata method"
Metadata method is not included into standard decorator of `Storage` interface: `Storage.Wrap`, let's add missed method.

[2022-01-20 13:41] g4s8 opened #393 "Helper object to read metadata"
Let's add a helper object to read metadata from `Meta` interface with some standard methods, like:
[code]
will add more methods later.

[2022-02-03 09:08] #392 closed

[2022-02-10 13:10] #393 closed

[2022-02-25 10:03] g4s8 opened #405 "Use files-adapter as storage proxy"
Implement `Storage` as `ArtipieStorage` for artipie/files-adapter via HTTP, see https://github.com/artipie/files-adapter/issues/106 for details, `ArtipieStorage` HTTP client (from artipie/http-client) in constructor and performs all operations via this client.

[2022-03-02 10:48] dgarus commented on #405
@g4s8
`artipie/http-client` has `asto` dependency, so `artipie/http-client` dependency in `asto` is cyclic.
Is it ok?

[2022-03-02 12:39] g4s8 commented on #405
@dgarus maybe we can exclude this dependency?

[2022-03-02 12:48] dgarus commented on #405
@g4s8  Do you mean exclude `asto` from `file-adapter`?
Could you create a task to investigate/do this?

[2022-03-02 13:32] g4s8 commented on #405
@dgarus no, I mean excluding asto dependency from http-client

[2022-03-02 14:57] dgarus commented on #405
@g4s8 Yes, sorry. I made a typo.
Ok, Could you please create a task to do this and assign it to me?

[2022-03-02 15:16] g4s8 commented on #405
@dgarus you can exclude it in maven dependency configuration: just add dependency names to exclude section of the dependency in pom

[2022-03-10 09:58] dgarus commented on #384
@g4s8 Hello!
Could you please have a look?

[2022-03-30 10:13] #405 closed

[2022-04-22 18:01] olenagerasimova opened #412 "Do not use deprecated methods in S3Storage"
Now, `S3Storage` uses some deprecated methods from `software.amazon.awssdk`. Let's replace them according to library recommendations and remove `@SuppressWarnings("deprecation")` suppression.

[2022-04-22 18:03] olenagerasimova opened #413 "Fix test for `LoggingStorage`"
Let's fix `LoggingStorageTest`: after logging library updates, logger does not write into writer, configured in the test. Figure out how to deal with it and enable the test.

[2022-04-26 10:14] 0pdd opened #414 "There two disabled tests for S3 storage: S3StorageTest#shouldUploadObjectWhenSaveLargeContent and..."
The puzzle `411-28a7e759` from #411 has to be resolved:

https://github.com/artipie/asto/blob/cdd879ac2f4f4f3b688dd62748fd298ee4c8970b/src/test/java/com/artipie/asto/s3/S3StorageTest.java#L50-L54

The puzzle was created by olenagerasimova on 26-Apr-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2022-04-26 10:14] 0pdd commented on #414
For some reason I wasn't able to add GitHub labels `` to this issue (required=`tech-debt`; existing=`0crat/new`, `0crat/role/dev`, `0crat/role/rev`, `0crat/scope`, `budget/30min`, `bug`, `ci/passed`, `customer-request`, `dependencies`, `documentation`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `later`, `merge`, `qa`, `quality/acceptable`, `quality/bad`, `quality/goo

[2022-04-26 10:14] 0pdd opened #415 "There is some problem with ETCD storage as sub-storage with ROOT key: tests..."
The puzzle `411-cf1a108e` from #411 has to be resolved:

https://github.com/artipie/asto/blob/cdd879ac2f4f4f3b688dd62748fd298ee4c8970b/src/test/java/com/artipie/asto/StorageExtension.java#L51-L55

The puzzle was created by olenagerasimova on 25-Apr-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2022-04-26 10:15] 0pdd commented on #415
For some reason I wasn't able to add GitHub labels `` to this issue (required=`tech-debt`; existing=`0crat/new`, `0crat/role/dev`, `0crat/role/rev`, `0crat/scope`, `budget/30min`, `bug`, `ci/passed`, `customer-request`, `dependencies`, `documentation`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `later`, `merge`, `qa`, `quality/acceptable`, `quality/bad`, `quality/goo

[2022-05-05 11:33] #412 closed

[2022-05-16 15:24] baudoliver7 commented on #413
@olenagerasimova hi, with pleasure ! :)

[2022-05-16 15:30] olenagerasimova commented on #413
@baudoliver7 nice, waiting for PR :)

[2022-05-16 19:56] baudoliver7 commented on #413
@olenagerasimova PR submitted [here ](https://github.com/artipie/asto/pull/420):)

[2022-05-17 06:06] #413 closed

[2022-05-18 10:58] dgarus opened #421 "Wrong implementation of the S3Storage#putMultipart"
For each uploaded part of a long object, the implementation must provide the part number and the `ETag` value,
returned after that part was uploaded (see [CompleteMultipartUpload ](https://docs.aws.amazon.com/AmazonS3/latest/API/API_CompleteMultipartUpload.html)).
But currently this is not done, so multipart downloading is not working.
Related test is `com.artipie.asto.s3.S3StorageTest#shouldUploa

[2022-05-19 05:41] #414 closed

[2022-05-19 09:54] baudoliver7 commented on #415
@olenagerasimova please, assign

[2022-05-23 09:27] #421 closed

[2022-05-27 07:40] dgarus opened #427 "`StorageValuePipeline#processWithResult` is hanging in the case when value is getting by key "from" has large size"
`StorageValuePipeline#processWithResult` is hanging when reading storage data size more than 1024 bit (default size of `PipeInputStream` buffer).

[2022-05-27 09:31] #427 closed

[2022-06-01 12:20] olenagerasimova opened #429 "S3 storage ITs"
Integration tests for S3 storage should be migrated to test containers. S3 mocks are not very clever and can miss some integration bugs.

[2022-06-01 14:09] dgarus opened #430 "Incorrect implementation of `StorageValuePipeline`"
Current implementation of `StorageValuePipeline` can be reason of some tests hanging.
One of them is [RpmTest](https://github.com/artipie/rpm-adapter/issues/529).

[2022-06-02 06:08] #430 closed

[2022-06-14 14:51] dgarus opened #432 "'StorageValuePipeline' should process large-size content without buffering it all in memory"
`StorageValuePipeline` should be able to process large-size content without buffering it all in memory.
This task could be done using `RxJava` library that we already have in dependencies.

[2022-06-21 11:04] dgarus opened #436 "Asto as multiple modules project"
Change asto project to make it multiple modules.
It should allow adding a new storage implementation as a new module of this project (not a new repository).
Useful links:
[maven guide](https://maven.apache.org/guides/mini/guide-multiple-modules.html)
[GitHub Actions and the MonoRepo (or multi-module)](https://chris-turner.medium.com/github-actions-and-the-monorepo-or-multi-module-511707b3578c)
[ex

[2022-06-23 11:13] #432 closed

[2022-06-27 14:11] dgarus opened #439 "Create a factory interface for an abstract storage"
Part of [artipie#1034]( https://github.com/artipie/artipie/issues/1034)

Create a factory interface of storage to separate instantiation details and storage consumers,
such as artipie adapters.

[2022-07-07 21:01] 0pdd opened #442 "Do not await abort to complete if save() failed. In case uploading content fails inside {@link..."
The puzzle `87-1669245c` from #87 has to be resolved:

https://github.com/artipie/asto/blob/ea6ada1f240720d533a6102993c3915c07d344bc/src/main/java/com/artipie/asto/s3/S3Storage.java#L43-L49

The puzzle was created by @dgarus on 23-Jun-22.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2022-07-07 21:01] 0pdd commented on #87
@olegmoz the puzzle [#442](https://github.com/artipie/asto/issues/442) is still not solved.

[2022-07-07 21:01] 0pdd commented on #139
@brastak the puzzle [#unknown]() is still not solved.

[2022-07-07 21:01] 0pdd commented on #352
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-07 21:01] 0pdd commented on #309
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-19 11:28] dgarus opened #445 "feat: create test framework for testing new storage implementations"
The module `asto-core` contains many universal storage tests `StorageExtension`.
We should allow using this tests to test new storage implementations.

We can create a new module `asto-test`, move common test classes to this module and
implement something like [Reactive Streams TCK](https://github.com/reactive-streams/reactive-streams-jvm/tree/master/tck).

- [x] move common storage tests to src (

[2022-07-19 13:52] dgarus opened #446 "feat: add example for Redis configuration to wiki"
Add example to [Storage configurations](https://github.com/artipie/artipie/wiki/Configuration-Storage) for RedisStorage implementation.

[2022-07-20 14:18] #436 closed

[2022-07-20 14:19] #442 closed

[2022-07-20 14:19] 0pdd commented on #442
The puzzle `87-1669245c` has disappeared from the source code, that's why I closed this issue.

[2022-07-20 14:19] 0pdd commented on #87
@olegmoz the puzzle [#unknown]() is still not solved; solved: [#442](https://github.com/artipie/asto/issues/442).

[2022-07-20 14:32] dgarus opened #449 "feat: update readme file"
Update how to get dependencies section

[2022-07-20 14:34] dgarus opened #450 "Fix aibolit action"
https://github.com/artipie/asto/runs/7431187893?check_suite_focus=true

[2022-07-21 07:52] #450 closed

[2022-08-02 14:18] #449 closed

[2022-08-15 09:57] dgarus opened #459 "Remove `wtf.g4s8:tuples` dependency"

[2022-08-15 10:57] #459 closed

[2022-08-15 11:35] dgarus commented on #343
@olenagerasimova hi!
Is this issue still actual?

[2022-08-15 11:37] olenagerasimova commented on #343
@dgarus no, closing

[2022-08-15 11:37] #343 closed

[2022-08-16 05:49] #181 closed

[2022-08-16 05:49] 0pdd commented on #139
@brastak the only puzzle [#181](https://github.com/artipie/asto/issues/181) is solved here.

[2022-08-19 09:21] olenagerasimova opened #463 "Override `TestResource.toString()`"
I'd suggest to override `TestResource.toString()` method to return test resource string content.

[2022-08-31 08:55] 0pdd commented on #415
The puzzle `411-cf1a108e` has disappeared from the source code, that's why I closed this issue.

[2022-08-31 08:55] #415 closed

[2022-09-05 03:32] CChengjie opened #470 "tag missing problem"
I'm doing a research on tags .
We found that versions like **0.19.0** was released in Maven, but there was no corresponding tag in github, Can you help me with this?
1）What is the reason for tag's absence?

- a、This version code has problems, such as the loophole, compatibility and interface issues, etc.
- b、This version has functional problems, such as unreasonable function planning, basic functi

[2022-09-06 14:44] olenagerasimova commented on #470
Hi @CChengjie ! Thank you for the concern, version 0.19.0 was release in 2020, now we cannot say what exactly happened, most probably there was some glitch. Please, use the latest version `v1.13.0`

[2022-09-07 12:36] dgarus commented on #470
@CChengjie @olenagerasimova
There is no problem, I close the issue

[2022-09-07 12:36] #470 closed

[2022-09-12 07:35] dgarus opened #475 "Integration tests for `ArtipieStorage`"
Create integration test for `ArtipieStorage`

[2022-09-12 07:36] dgarus opened #476 "Verification test for `ArtipieStorage`"
Create verification test for `ArtipieStorage`.

[2022-09-13 06:41] #445 closed

[2022-11-22 14:16] olenagerasimova opened #480 "Storage identifier for monitoring"
Let's add default method to storage interface, which will provide some unique information about the storage instance.

[2022-11-23 10:02] #480 closed